@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Regular.otf);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Medium.otf);
    font-weight: 400;
}

body {
    font-size: 16px;
}

a,
a:visited {
    color: #3A4BC2;
    text-decoration: none;
    font-weight: 200;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #000;
}

h1 {
    text-indent: -2000em;
    height: 30px;
    width: 100px;
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
    margin: 0 5px 10px 0;
    position: relative;
    top: 3px;
}

h3 {
    font-size: 16px;
    margin-bottom: 0.2em;
    font-weight: 300;
    margin-top: 2em;
}

p, li {
    margin-top: 0;
    line-height: 1.4;
    font-weight: 100;
}

.intro {
    font-size: 28px;
    font-weight: 100;
    line-height: 1.2em;
    padding-top: 0.5em;
    margin-bottom: 2em;
    clear: left;
}

.feature {
    height: 300px;
}

.half {
    position: relative;
    left: 0;
}

.feature {
    background: url(/images/screenshots.jpg) 50% 50%;
    background-size: cover;
}

.contents {
    padding: 20px;
}

nav {
    margin: 0 0 4em 0;
    padding-top: 0px;
}

nav a,
nav span {
    display: block;
    float: left;
    padding: 10px 10px 0 5px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
}

.languages {
    position: absolute;
    top: -40px;
    background: rgba(255,255,255,0.9);
    width: 100%;
    right: 0;
    text-align: right;
    color: #ccc;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.languages a {
    color: #30C0B0;
    font-weight: 700;
    font-size: 110%;
}

.languages a,
.languages span {
    padding-right: 15px;
}

.people {
    column-count: 2;
    margin-left: 0;
    padding-left: 0;
}

.people li {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 0;
    color: #999;
    list-style: none;
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
    padding-left: 36px;
}

.people li:after {
    content: ".";
    height: 26px;
    width: 26px;
    position: absolute;
    left: 0;
    top: 2px;
    background: #eee;
    border-radius: 100px;
    color: transparent;
}

.photo {
    height: 300px;
    margin: 1em 0 3em 0;
    position: relative;
    border: 10px solid #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1)
}

.caption {
    position: absolute;
    bottom: 0;
    padding: 7px 0 0 0;
    text-align: center;
    margin: 0;
    width: 100%;
    background: #fff;
}

footer {
    padding: 100px 0 40px 0;
}

.small {
    font-size: 12px;
}

footer a {
    padding-right: 20px;
    color: #30C0B0;
}

/* For devices larger than 550px */
@media (min-width: 880px) {
    body {
        font-size: 18px;
    }
    
    h1 {
        height: 37px;
        width: 117px;
        top: 0;
        margin-right: 20px;
        float: left;
    }
    
    .intro {
        font-size: 42px;
        padding-top: 1em;
        max-width: 13em;
    }
    
    .half {
        margin-left: 50%;
    }
    
    .feature {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
    
    h3 {
        font-size: 18px;
        letter-spacing: -0.03em;
    }

    nav {
        padding-top: 80px;     
    }

    nav a,
    nav span {
        padding: 7px 10px 0 10px;
    }

    .contents {
        padding: 40px;
        max-width: 600px;
    }
    
    .languages {
        top: 10px;
        right: 10px;
        border: none;
        background: none;
    }
}