@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Regular.otf);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Medium.otf);
    font-weight: 400;
}

body {
    font-size: 16px;
}

a,
a:visited {
    color: #3A4BC2;
    text-decoration: none;
    font-weight: 200;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #000;
}

.notice {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: 100;
    padding: 15px;
    font-size: 85%;
}

body.en .notice {
    display: none;
}

h1 {
    background: url(../images/logo.png) no-repeat;
    background-size: auto 30px;
    margin: 0 5px 10px 0;
    position: relative;
    float: left;
    top: 6px;
    font-size: 22px;
    padding: 3px 20px 0 36px;
}

h1 a,
h1 a:visited {
    color: #000;
}

h2 {
    font-size: 36px;
    font-weight: 100;
    margin: 3em 0 0.5em 0;
}

h3 {
    font-size: 16px;
    margin-bottom: 0.2em;
    font-weight: 300;
    margin-top: 2em;
}

h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 2em 0 0.5em 0;
    color: #999;
}

p, li {
    margin-top: 0;
    line-height: 1.4;
    font-weight: 100;
}

.intro {
    font-size: 28px;
    font-weight: 100;
    line-height: 1.2em;
    padding-top: 0.5em;
    margin-bottom: 2em;
    clear: left;
}

.feature {
    height: 400px;
    background: url(/images/screenshots.jpg) 50% 50%;
    background-size: cover;
}

.help {
    background: rgba(243,243,243,0.85);
    text-align: center;
    font-size: 85%;
    padding: 10px;
    font-weight: 300;
    display: block;
    vertical-align: middle;
    line-height: 1.2;
    text-decoration: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.help span {
    font-size: 115%;
    vertical-align: middle;
    padding-right: 5px;
    text-decoration: none;
    -webkit-transition: font-size 0.2s;
    -moz-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.help:hover span {
    font-size: 140%;
}

.help:hover {
    background-color: rgba(243,243,243,0.95);
    text-decoration: none;
}

.half {
    position: relative;
    left: 0;
}

.contents {
    padding: 20px;
}

nav {
    margin: 0 0 4em 0;
    padding-top: 0;
    position: relative;
}

nav a.link,
nav span {
    display: block;
    float: left;
    padding: 10px 10px 0 5px;
    height: 30px;
    text-align: center;
    font-weight: 200;
}

.languages {
    position: absolute;
    top: -40px;
    background: rgba(255,255,255,0.95);
    width: 100%;
    right: 0;
    text-align: right;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.languages a {
    color: #30C0B0;
}

.languages a.lang-pn,
.languages a.lang-hi,
.languages a.lang-zh {
    font-size: 115%;
}

.languages a,
.languages span {
    padding-right: 15px;
}

.contents.en a.lang-en,
.contents.pn a.lang-pn,
.contents.hi a.lang-hi,
.contents.zh a.lang-zh {
    color: #999;
}

.free {
    column-count: 3;
}

.free p {
    text-align: center;
    padding-top: 90px;
    font-size: 80%;
    line-height: 1.3;
    position: relative;
}

.free p:after {
    color: rgba(0,0,0,0);
    content: '.';
    width: 60px;
    height: 60px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -30px;
}

.free p.free-forever:after {
    background: #eee url(/images/infinity.png) 50% 50% no-repeat;
    background-size: 42px;
}

.free p.free-code:after {
    background: #eee url(/images/code.png) 50% 50% no-repeat;
    background-size: 42px;
}

.free p.free-yes:after {
    background: #eee url(/images/yes.png) 50% 50% no-repeat;
    background-size: 42px;
}

.people {
    column-count: 2;
    margin-left: 0;
    padding-left: 0;
}

.people span {
    font-weight: 200;
}

.people li {
    font-size: 14px;
    line-height: 1.3;
    margin-left: 0;
    color: #999;
    list-style: none;
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
    padding-left: 42px;
}

.people img {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 0;
    top: 0;
    background: #eee;
    border-radius: 100px;
}

.photo {
    height: 300px;
    margin: 1em 0 3em 0;
    position: relative;
    border: 10px solid #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1)
}

.caption {
    position: absolute;
    bottom: 0;
    padding: 7px 0 0 0;
    text-align: center;
    margin: 0;
    width: 100%;
    background: #fff;
}

.small {
    font-size: 12px;
}

footer {
    padding: 20px 0 40px 0;
    margin-top: 100px;
    line-height: 2;
    border-top: 1px solid #eee;
}

footer a {
    padding: 5px 20px 5px 0;
    color: #30C0B0;
    display: inline-block;
}

.features img {
    width: 90px;
    height: 90px;
    margin-right: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: 4px solid #fff;
}

/* For devices larger than 550px */
@media (min-width: 880px) {
    body {
        font-size: 18px;
    }
    
    h1 {
        margin-right: 20px;
        float: left;
        top: 3px;
    }
    
    .intro {
        font-size: 42px;
        padding-top: 1em;
        max-width: 13em;
    }
    
    .half {
        margin-left: 50%;
        box-shadow: -20px 0 30px rgba(0,0,0,0.06);
    }
    
    .feature {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
    
    h3 {
        font-size: 18px;
        letter-spacing: -0.03em;
    }

    nav {
        padding-top: 80px;     
    }

    nav a.link,
    nav span {
        padding: 5px 10px 0 10px;
    }

    .contents {
        padding: 40px;
        max-width: 600px;
    }
    
    .languages {
        top: 10px;
        right: 10px;
        border: none;
        background: none;
    }
    
    .features img {
        width: 150px;
        height: 150px;
        margin: 20px 20px 0 0;
    }
}