@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Regular.otf);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Medium.otf);
    font-weight: 400;
}

body {
    font-size: 16px;
}

.barebones-wrapper {
    padding: 40px;
    background: #f0f2f5;
}

.barebones-wrapper nav {
    margin: -40px -40px 40px -40px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
}

.barebones-wrapper nav a {
    font-weight: 500;
    color: #FF3355;
}

.barebones-wrapper nav h1 {
    transform: scale(0.7)
}

html {
    scroll-behavior: smooth;
}

a,
a:visited {
    color: #0075EB;
    text-decoration: none;
    font-weight: 200;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #000;
}

a.button {
    font-size: 12px;
    color: #0075EB;
    border-color: #d6dfe9;
    min-width: 100%;
}

a.button img {
    vertical-align: middle;
}

.notice {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: 100;
    padding: 15px;
    font-size: 85%;
}

body.en .notice {
    display: none;
}

h1 {
    background: url(../images/simple-logo.svg) 0 2px no-repeat;
    background-size: auto 32px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 3px;
    font-size: 32px;
    letter-spacing: 0;
    padding: 1px 10px 0 40px;
}

h1 a,
h1 a:visited {
    color: #000;
}

h1 a:hover {
    color: rgba(0,0,0,0.7);
}

h2 {
    margin-top: 0;
}

h3 {
    font-size: 16px;
    margin-bottom: 0.2em;
    font-weight: 500;
    margin-top: 2em;
    letter-spacing: 0;
}

h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 2em 0 0.5em 0;
    color: #000;
}

h5 {
    font-size: 16px;
    margin: 1em 0 0.2em 0;
    font-weight: 300;
    color: #FF3355;
}

p, li {
    margin-top: 0;
    line-height: 1.4;
    font-weight: 100;
}

ul ul {
    margin-top: 1em;
}

.intro, h2 {
    font-size: 28px;
    font-weight: 100;
    line-height: 1.2em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    clear: left;
}

.intro {
    margin-bottom: 2em;
}

.feature {
    height: 400px;
    background: #F0F2F5 url(/images/screenshot-mobile.jpg) 50% 0 no-repeat;
    background-size: cover;
}

.feature video,
.feature img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.help {
    background: rgba(243,243,243,0.85);
    text-align: center;
    font-size: 85%;
    padding: 10px;
    font-weight: 300;
    display: block;
    vertical-align: middle;
    line-height: 1.2;
    text-decoration: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.help span {
    font-size: 115%;
    vertical-align: middle;
    padding-right: 5px;
    text-decoration: none;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    transition: transform 0.2s;
    display: inline-block;
}

.help:hover span {
    transform: scale(1.4);
}

.help:hover {
    background-color: rgba(243,243,243,0.95);
    text-decoration: none;
}

.half {
    position: relative;
    left: 0;
}

.clear {
    clear: both;
}

.contents {
    padding: 20px;
}

nav {
    margin: 0 0 1em 0;
    padding-top: 0;
    position: relative;
}

nav a.link,
nav span {
    display: inline-block;
    padding: 10px 10px 10px 0;
    height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    color: #FF3355;
}

nav a.link:hover {
    color: #000;
}

nav .nav-links {
    display: block;
    text-align: left;
}

.languages {
    position: absolute;
    top: -40px;
    background: rgba(255,255,255,0.95);
    width: 100%;
    right: 0;
    text-align: right;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.languages a.lang-pn,
.languages a.lang-hi,
.languages a.lang-zh {
    font-size: 115%;
}

.languages a,
.languages span {
    padding-right: 15px;
}

.contents.en a.lang-en,
.contents.pn a.lang-pn,
.contents.hi a.lang-hi,
.contents.zh a.lang-zh {
    color: #999;
}

.free {
    column-count: 3;
}

.free p {
    text-align: center;
    padding-top: 90px;
    font-size: 80%;
    line-height: 1.3;
    position: relative;
}

.free p:after {
    color: rgba(0,0,0,0);
    content: '.';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -30px;
}

.free p.free-forever:after {
    background: url(/images/icon-forever.png) 50% 50% no-repeat;
    background-size: 60px;
}

.free p.free-code:after {
    background: url(/images/icon-code.png) 50% 50% no-repeat;
    background-size: 60px;
}

.free p.free-yes:after {
    background: url(/images/icon-check.png) 50% 50% no-repeat;
    background-size: 60px;
}

.people {
    column-count: 2;
    margin-left: 0;
    padding-left: 0;
}

.people span {
    font-weight: 200;
}

.people li {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 0;
    list-style: none;
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
    padding-left: 42px;
}

.people img {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 0;
    top: 0;
    background: #eee;
    border-radius: 100px;
}

.photo {
    height: 300px;
    margin: 1em 0 3em 0;
    position: relative;
    border: 10px solid #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1)
}

.caption {
    position: absolute;
    bottom: 0;
    padding: 7px 0 0 0;
    text-align: center;
    margin: 0;
    width: 100%;
    background: #fff;
}

.small {
    font-size: 12px;
}

footer {
    padding: 20px 0 40px 0;
    margin-top: 20px;
    line-height: 2;
}

footer a {
    padding: 5px 20px 5px 0;
    display: inline-block;
}

footer span {
    white-space: nowrap;
}

.features img {
    width: 29%;
    height: auto;
    margin: 7px 1.5%;
    box-shadow:
        0 0 0 4px #fff,
        2px 2px 12px rgba(0,0,0,0.3);
    box-sizing: content-box;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.howitworks {
    clear: both;
    position: relative;
}

.howitworks img {
    width: 140px;
}

.howitworks-left img {
    float: left;
    margin: -20px 20px 20px 0;
}

.howitworks-right img {
    float: right;
    margin: -20px 0 20px 20px;
}

.howitworks h5 {
    margin-top: 2em;
}

.image-float {
    float: right;
    margin: 0 0 16px 16px;
    border: 5px solid #fff;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.15);
    width: 150px;
}

span.download {
    display: block;
    padding-top: 0.5em;
}

a.button-play {
    padding: 6px 0;
    height: auto;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: none;
    background: #fff;
    margin: 8px 0 0 0;
}

.mobile-screen-wrapper,
.mobile-screen-wrapper:visited {
    display: block;
    float: left;
    width: 274px;
    font-size: 13px;
    margin: 0 32px 42px 0;
    color: rgba(0,0,0,0.6);
    line-height: 1.4;
    position: relative;
}

.mobile-screen-wrapper i {
    position: absolute;
    top: 2px;
    left: -4px;
    color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.2s;
}

.mobile-screen-wrapper:hover i {
    opacity: 1;
}

.mobile-screen-wrapper strong {
    font-weight: bold;
    display: block;
    padding-left: 14px;
}

.mobile-screen-wrapper .desc {
    display: block;
    min-height: 10em;
    padding-left: 14px;
}

.mobile-screen {
    background-size: 252px auto;
    background-repeat: no-repeat;
    background-position: 10px 24px;
    display: block;
}

.mobile-screen-overlay {
    background-image: url(/images/mobile.png);
    width: 274px;
    height: 510px;
    background-size: 274px auto;
    display: block;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* For devices larger than 550px */
@media (min-width: 880px) {
    body {
        font-size: 18px;
    }
    
    h1 {
        margin-right: 20px;
        top: 3px;
        font-size: 36px;
        background-position: 0 0;
        background-size: auto 40px;
        padding-left: 50px;
    }
    
    h3 {
        font-size: 18px;
        letter-spacing: -0.03em;
    }
    
    h4, h5 {
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 1em;
        letter-spacing: 0.05em;
        font-weight: 300;
    }
    
    a.button {
        min-width: 20em;
    }
    
    a.button-play {
        padding: 6px 40px;
        min-width: 2em;
    }
    
    .image-float {
        margin: 0 0 30px 30px;
        width: 250px;
    }
    
    .intro, h2 {
        font-size: 42px;
        margin-top: -40px;
        max-width: 13em;
    }
    
    .half {
        margin-left: 45%;
        box-shadow: 20px 0 30px rgba(0,0,0,0.06);
    }
    
    .feature {
        position: fixed;
        top: 0;
        left: 0;
        width: 45%;
        height: 100%;
        background-image: url(/images/screenshots.png);
        background-size: contain;
        background-position: 50% 50%;
    }
    
    .feature.about {
        background-image: url(/images/screenshots-progress.png);
    }

    .feature.getinvolved {
        background-image: url(/images/screenshots-bp.png);
    }
    
    .feature.license {
        background-image: url(/images/screenshots-bp.png);
    }

    nav {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    nav a.link,
    nav span {
        padding: 5px 10px 0 10px;
        font-size: 100%;
    }
    
    nav .nav-links {
        display: inline;
    }

    .contents {
        padding: 40px;
        max-width: 600px;
    }
    
    .languages {
        top: 10px;
        right: 10px;
        border: none;
        background: none;
    }
    
    .howitworks div {
        transform: translate(0, 50%);
        border-top: 1px solid #FF3355;
    }
    
    .howitworks-left div {
        margin: 0 40px 0 204px;
    }
    
    .howitworks-right div {
        margin: 0 202px 0 40px;
    }
    
    .howitworks-left img,
    .howitworks-right img {
        width: 240px;    
    }
    
    .howitworks-left img {
        margin: 0 20px 0 -20px;
    }

    .howitworks-right img {
        margin: 0 -20px 0 20px;
    }
    .howitworks h5 {
        margin-top: 1em;
    }
    .people img {
        width: 50px;
        height: 50px;
    }
    .people li {
        padding: 6px 0 16px 62px;
        font-size: 16px;
    }
}

