<!doctype html>
<html>
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Simple" %></title>
  <meta name="description" content="The fast, free app for clinicians to track patients with hypertension.">
  <meta name="author" content="Simple.org">

  <!-- Browser/Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= stylesheet_link_tag "site" %>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <%= javascript_include_tag "site" %> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <%= yield %>
</body>
</html>
