<h3 class="privacy-policy-nav-h3">Privacy policies</h3>

<a href="/privacy" class="privacy-policy-nav-links">
    <span class="privacy-policy-nav-links-span">Privacy policy</span>
    Resolve to Save Lives
</a>

<a href="/patient-privacy" class="privacy-policy-nav-links">
    <span class="privacy-policy-nav-links-span">Privacy policy</span>
    BP Passport app privacy policy
</a>

<a href="/privacy" class="privacy-policy-nav-links">
    <span class="privacy-policy-nav-links-span">Privacy policy</span>
    Simple app for clinicians privacy policy
</a>

<!-- <p><a href="/patient-privacy">BP Passport app privacy policy</a></p>

<p><a href="/simple-privacy">Simple app for clinicians privacy policy</a></p> -->

<%# <% if current_page.url != '/patient-privacy/' %>
