<h3>Privacy polices</h3>
<br>
<% if current_page.url != '/patient-privacy/' %>
<p><a href="/patient-privacy">BP Passport app privacy policy</a></p>
<% end %>

<% if current_page.url != '/simple-privacy/' %>
<p><a href="/simple-privacy">Simple app for clinicians privacy policy</a></p>
<% end %>

<% if current_page.url != '/privacy/' %>
<p><a href="/privacy">Resolve to Save Lives privacy policy</a></p>
<% end %>
