  

      <p class="intro">This is just the beginning. We're just starting out on a journey and we will share more as we go.</p>

      <h3><%= I18n.t(:roadmapQ) %></h3>
      <p><%= I18n.t(:roadmapA) %></p>
      <p><%= I18n.t(:roadmapB) %></p>

      <h3>Where can I learn more?</h3>
      <p>There is a lot more about the broad project of Resolve to Save Lives' cardiovascular health goals on the website. In the future, we'll add a lot more content here, but to be honest we're not exactly sure where this project will lead.</p>

      <div style="background: url(/images/team.jpg) 50% 70%; background-size: cover;" class="photo">
        <p class="caption small"><%= I18n.t(:caption1) %></p>
      </div>