---
title: BP Passport
---


<h2 style="font-size: 28px; font-weight: 700; margin-bottom: 0.2em;">BP Passport</h2>
<p class="intro" style="margin-bottom: 1em; margin-top: 0.1em;">The world's simplest app to track your blood pressure, blood sugar, and remember to take your medicines.</p>

<span class="download" style="margin-bottom: 2em;">
            
    <a href="#" class="button button-play"><img src="/images/googleplay.png" alt=""> <span class="mobile">Install</span> Android app</a>

    <a href="#" class="button button-play"><img src="/images/apple.png" alt=""> <span class="mobile">Install</span> iPhone app</a>

</span>

<h3>Free for everyone</h3>
<p>The BP Passport app is totally free and will be free forever.</p>

<h3>Simple by intention</h3>
<p>The BP Passport app is designed to be simple. It is easy to learn and easy to use, even for people who don't have much experience using smartphone applications.</p>

<h3>Available in many languages</h3>
<p>The BP Passport app is currently available in:</p>
<ul>
    <li>English</li>
    <li>French</li>
    <li>Hindi</li>
    <li>Marathi</li>
    <li>Punjabi</li>
    <li>Spanish</li>
</ul>
<p>Want your language? Please contact us.</p>