---
title: / Contact us
---


<h2>Contact us</h2>

<p>The Simple project is funded by the not-for-profit <a href="https://resolvetosavelives.org/">Resolve to Save Lives</a>.</p>
<p>The best way to contact us is to reach out to Resolve to Save Lives:</p>
<p><a href="https://www.resolvetosavelives.org/contact" style="font-weight: bold;">Contact us...</a></p>

<h3 style="margin-top: 5em;">Engineering</h3>
<p>To reach the development team, please see <a href="https://docs.simple.org/contact">our documentation</a>.</p>

<h3 style="margin-top: 2.5em;">Security</h3>
<p>If you have an urgent security matter, please email <a href="mailto:securty@simple.org">security@simple.org</a></p>

<div style="height: 400px;"></div>
