---
title: Dr Tom Frieden
---

<h2>Dr. Tom Frieden</h2>

<p>Dr. Tom Frieden is the President &amp; CEO of <a href="http://resolvetosavelives.org">Resolve to Save Lives</a>, the primary funder of the Simple software.</p>

<p>Resolve to Save Lives is part of the global public health organization, <a href="http://vitalstrategies.org">Vital Strategies</a>. Prior to joining Resolve to Save Lives, Dr. Frieden was the Director of the <a href="http://cdc.gov">Centers for Disease Control and Prevention</a> (CDC) in the Obama Administration.</p>

<p>Dr. Tom Frieden led the CDC from 2009 – 2017. Before that, he led the New York City Department of Health and Mental Hygiene from 2002 – 2009. Tom has held leadership positions in numerous public health organizations, such as The World Health Organization (WHO), World Bank, and Columbia University Mailman School of Public Health.</p>
<p>Dr. Tom Frieden received his MD from Columbia University Vagelos College of Physicians and Surgeons, and his MPH from Columbia University Mailman School of Public Health.</p>
<p>&nbsp;</p>
<p><a href="http://drtomfrieden.com"><i class="fal fa-globe" style="margin-right: 4px;"></i> Dr Tom Frieden's personal website</a></p>
<p><a href="https://twitter.com/DrTomFrieden"><i class="fab fa-twitter" style="margin-right: 4px;"></i> Twitter</a></p>
<p><a href="https://www.linkedin.com/in/tom-frieden/"><i class="fab fa-linkedin" style="margin-right: 4px;"></i> LinkedIn</a></p>
<div style="height: 600px;"></div>