---
title: Privacy Policy for BP Passport app
social: social.jpg
---


      <h2>
        Privacy Policy<br>for BP Passport app
      </h2>

    <p>This Privacy Policy is a statement of how Vital Strategies treats information it receives from members of the public as they use the BP Passport App.</p>

    <p>Vital Strategies created this Privacy Policy to demonstrate respect for your privacy preferences and to disclose our information collection and sharing practices. </p>

    <h3>What Information We Collect</h3>
    <p>Vital Strategies collects analytical data about your use of the BP Passport App using Google Firebase. We do not ask for, collect, or store any personally identifiable information via the app. All data you input into the app (blood pressures, reminders, and other records) are stored locally on your device and are not transferred to Vital Strategies.</p>

    <p>You can find more information about <a href="https://firebase.google.com/support/privacy">Google Firebase here</a>.</p>

    <h3>How We Use the Information We Collect</h3>
    <p>The analytical information we collect is used to inform further development of the app.</p>

    <h3>Questions About Data Use</h3>
    <p>If you have questions about the BP Passport App or this policy please contact us via the app or at info@vitalstratgies.org</p>

    <h3>If you connect your BP Passport with the Simple app</h3>
<p>If you connect your BP Passport with your doctor's Simple app by scanning your paper BP Passport, see our <a href="/simple-privacy">privacy policy for the Simple app</a>.</p>

    <p>&nbsp;</p>
    <h3>Also:</h3>
    <p>&nbsp;</p>
    <p><a href="/patient-privacy">Privacy Policy: BP Passport app</a></p>
    <p><a href="/simple-privacy">Privacy Policy: Simple app for clinicians</a></p>
    <p><a href="/privacy">Privacy Policy: Vital Strategies</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>