---
title: / Privacy policy for BP Passport app
---

<h2 class="privacy-policy-h2">
  <span class="privacy-policy-h2-span">Privacy policy</span>
  BP Passport app for patients
</h2>
<br/>
<p>This Privacy Policy is a statement of how Resolve to Save Lives treats information it receives from members of the public as they use the BP Passport App.</p>

<p>Resolve to Save Lives created this Privacy Policy to demonstrate respect for your privacy preferences and to disclose our information collection and sharing practices. </p>

<h3>What information we collect</h3>
<p>Resolve to Save Lives collects analytical data about your use of the BP Passport App using Google Firebase. We do not ask for, collect, or store any personally identifiable information via the app. All data you input into the app (blood pressures, reminders, and other records) are stored locally on your device and are not transferred to Resolve to Save Lives.</p>

<p>You can find more information about <a href="https://firebase.google.com/support/privacy">Google Firebase here</a>.</p>

<h3>How we use the information we collect</h3>
<p>The analytical information we collect is used to inform further development of the app.</p>

<h3>Questions about data use</h3>
<p>If you have questions about the BP Passport App or this policy please contact us via the app or at <a href="mailto:info@resolvetosavelives.org">info@resolvetosavelives.org</a></p>

<h3>If you connect your BP Passport with the Simple app</h3>
<p>If you connect your BP Passport with your doctor's Simple app by scanning your paper BP Passport, see our <a href="/simple-privacy">privacy policy for the Simple app</a>.</p>

<p>&nbsp;</p>
<%= partial "partials/privacy_policy_nav" %>
