    <h2><%= t(:privacy) %></h2>
    <p>यह गोपनीयता नीति इस बात का कथन है कि <a href="http://vitalstrategies.org">Vital Strategies</a> उस जानकारी के साथ कैसे व्यवहार करता है, जो उसे जनता से Vital Strategies के साथ इंटरेक्ट करते समय प्राप्त होती है।</p>
    <p>Vital Strategies ने यह गोपनीयता नीति आपकी गोपनीयता वरीयताओं के प्रति सम्मान प्रदर्शित करने और हमारी सूचना संग्रहण और साझाकरण प्रथाओं को प्रकट करने के लिए तैयार की है। चाहे आप हमें अपनी व्यक्तिगत जानकारी हमारी वेबसाइटों (vitalstrategies.org और resolvetosavelives.org) के द्वारा प्रदान करते हैं या किसी अन्य तरीके से (जैसे टेलीफोन, नियमित मेल या आमने-सामने), हम आपकी गोपनीयता वरीयताओं का सम्मान करने के लिए श्रम करते हैं।</p>
    <h3>Vital Strategies सूचना का संग्रहण कहाँ करता है</h3>
    <p>जब आप सेवाओं का उपयोग करते हैं, जैसे हमारी वेबसाइट, जब आप हमारे न्यूज़लेटर की सदस्यता लेते हैं, और सामाजिक मीडिया की साइटों के ज़रिए Vital Strategies आपके बारे में कुछ जानकारी का संग्रहण करता है, और उस पर प्रक्रिया करता है। Vital Strategies उस सूचना का भी संग्रहण करता है जो आप हमारी वेबसाइटों पर फॉर्म भरते समय या दान करते समय, और साथ ही ईमेल, टेलीफोन, डाक, आमने-सामने, और अन्य संचार माध्यमों से हमारे साथ संप्रेषण के ज़रिए प्रदान करते हैं।</p>
    <h3>हम किस सूचना का संग्रहण करते हैं</h3>
    <p>Vital Strategies निम्नलिखित में किसी एक या अधिक प्रकार की सूचना का संग्रहण कर सकता है:</p>
    <ul>
      <li>व्यक्तिगत विवरण (जैसे उपाधि, पूरा नाम, आयु)</li>
      <li>संपर्क विवरण (जैसे पता, ईमेल, फोन नंबर)</li>
      <li>पेशेवर विवरण और रोज़गार विवरण</li>
      <li>सामाजिक मीडिया पर खुली पोस्टिंग सहित, सार्वजनिक रूप से उपलब्ध स्रोतों से सार्वजनिक सूचना</li>
      <li>उपहार सहायता स्थिति और दान का विवरण</li>
      <li>संपर्क वरीयताएँ</li>
      <li>आईपी पता, स्थान डेटा, या ब्राउज़र जानकारी</li>
    </ul>
    <h3>सरल ऐप</h3>
    <p>ऊपर उल्लिखित डेटा के अतिरिक्तसिम्पल ऐप निम्नलिखित में से कुछ या सभी सूचनाओं का संग्रहण करती है:</p>
    <ul>
      <li>रोगी का नाम, पता, मोबाइल फोन नंबर, जन्म तिथि</li>
      <li>रोगी का रक्तचाप और रक्तचाप की दवाएँ</li>
      <li>क्लीनिक का स्थान और विज़िट की तारीख</li>
      <li>स्वास्थ्य सेवा कर्मी का नाम, मोबाइल नंबर और पासवर्ड और संबंधित क्लीनिक</li>
      <li>स्वास्थ्य सेवा परिसर का नाम, पता, अन्य क्लीनिकों के साथ संबंध</li>
      <li>क्लीनिक की पहचान आसानी से करने के लिए स्वास्थ्य देखभाल कार्यकर्ता का भौगोलिक स्थान (स्वास्थ्य देखभाल कार्यकर्ताओं को ऑप्ट-इन करना चाहिए)</li>
    </ul>
    <h3>हम जिस जानकारी का संग्रहण करते हैं, उसका उपयोग हम कैसे करते हैं</h3>
    <p>हम आपकी व्यक्तिगत और गैर-व्यक्तिगत जानकारी का संग्रहण, संसाधन, और उपयोग निम्नलिखित तरीकों से करते हैं:</p>
    <ul>
      <li>आपकी पूछताछ का उत्तर देकर</li>
      <li>आपके लेनदेनों या हमसे प्राप्त की गई सदस्यताओं के बारे में आपके साथ संप्रेषण करके और आपको हमारी वेबसाइटों पर विशेषताओं के बारे में या संगठन के बारे में जानकारी  भेजकर</li>
      <li>हमारी नीतियों में परिवर्तनों के बारे में आपके साथ संप्रेषण करके</li>
      <li>आपको न्यूज़लेटर भेजकर, मेल भेजकर, और कार्यक्रमों, पहलों, गतिविधियों और घटनाओं के बारे में ई-मेल या किसी अन्य माध्यम से घटनाओं के बारे में जानकारी भेजकर</li>
      <li>अपने कार्यक्रमों, सेवाओं, और परिचालनों को बेहतर बनाकर या उनमें सुधार करके</li>
      <li>अपनी वेबसाइटों पर आपके अनुभव को बेहतर बनाकर</li>
      <li>अनुसंधान और विकास</li>
      <li>ऐसे कार्यकलापों का पता लगाकर, उनकी जाँच करके, और रोकथाम करके, जिनसे हमारी नीतियों का उल्लंघन होता हो या जो अवैध हों</li>
      <li>वेबसाइटों के उपयोगकर्ताओं और उनके उपयोग के पैटर्न का सांख्यिकीय, जनसांख्यिकीय, और बाज़ार विश्लेषण करके</li>
      <li>अपने संगठन का प्रबंधन करके</li>
    </ul>
    <h3>हम आपके डेटा का संग्रहण और संरक्षण कैसे करते हैं</h3>
    <p>Vital Strategies यह सुनिश्चित करने और प्रदर्शित करने के लिए वाणिज्यिक रूप से उचित तकनीकी और संगठनात्मक उपायों का उपयोग करता है कि आपकी व्यक्तिगत जानकारी किसी हानि, दुरुपयोग, और अनधिकृत पहुँच, प्रकटीकरण, परिवर्तन या विनाश से सुरक्षित है। आवश्यक होने पर इन उपायों की समीक्षा की जाएगी और इन्हें अद्यतित किया जाएगा। Vital Strategies आपके सभी डेटा का संग्रहण यूरोपीय संघ के बाहर स्थित सर्वरों पर करता है। Vital Strategies ने हमारे सिस्टम में स्तरित सुरक्षा बनाई हुई है और केवल नामित कर्मचारियों को आपकी व्यक्तिगत जानकारी की प्रतियों तक पहुँच प्राप्त होती है।                          सभी ऑनलाइन लेनदेन सुरक्षित सर्वर पर किए जाते हैं। इसका अर्थ यह है कि लेनदेन पृष्ठ पर दर्ज की गई जानकारी ट्रांसमिशन से पहले एसएसएल (सिक्योर सॉकेट लेयर) का उपयोग करके एन्क्रिप्ट की जाती है। सुरक्षित पृष्ठों पर, आपकी ब्राउज़र स्क्रीन के निचले हिस्से में "बंद" लॉक प्रतीक प्रदर्शित होता है और ब्राउज़र स्क्रीन के शीर्ष पर स्थित पता बार में वेबसाइट पता "http" के बजाय "https" से शुरू होता है। हम जानबूझकर 18 वर्ष से कम आयु के किसी भी व्यक्ति से व्यक्तिगत जानकारी एकत्र नहीं करते या उसकी मांग नहीं करते या जानबूझकर ऐसे व्यक्तियों को, माता-पिता या अभिभावक की सहमति के बिना अपनी व्यक्तिगत जानकारी प्रदान करने की अनुमति नहीं देते।</p>
    <h3>डेटा साझाकरण और डेटा स्थानांतरण</h3>
    <p>Vital Strategies आपके डेटा को तीसरे पक्षों को नहीं बेचता या आपकी सहमति के बिना तीसरे पक्षों को नहीं देता, केवल अपवाद के रूप में आपके डेटा को हमारे अंतर्राष्ट्रीय कार्यालयों, Vital Strategies के संबद्ध कार्यालयों, या Vital Strategies के संबद्ध संगठन द यूनियन के साथ आपके डेटा को साझा या स्थानांतरित किया जाता है। Vital Strategies केवल हमारे सहयोगी या अंतर्राष्ट्रीय कार्यालयों के साथ आवश्यक जानकारी साझा करता है और साझा डेटा की गोपनीयता को सुरक्षित रखने के लिए स्पष्ट प्रावधानों के साथ Vital Strategies और संबद्ध या अंतर्राष्ट्रीय कार्यालय के बीच समझौता या एमओयू होने तक, किसी जानकारी को संबद्ध या अंतर्राष्ट्रीय कार्यालय के साथ साझा नहीं करता।</p>
    <h3>अपनी जानकारी तक पहुँच प्राप्त करना</h3>
    <p>कोई भी व्यक्ति जो अनुरोध करता है, वह यह बताए जाने का हकदार है कि क्या कोई व्यक्तिगत डेटा संगृहीत किया जा रहा है और वह व्यक्तिगत डेटा का विवरण प्राप्त कर सकता है, इसे संगृहीत करने के कारण जान सकता है, और यह कि क्या इसे किन्हीं अन्य संगठनों या लोगों को दिया जाएगा। आपको हमसे यह पुष्टि प्राप्त करने कि क्या हम आपसे संबंधित व्यक्तिगत डेटा संसाधित कर रहे हैं, साथ ही इस तरह के संसाधन के प्रयोजनों, संसाधित किए जा रहे डेटा की श्रेणियों, और आपके डेटा के उपयोग और संग्रहण से संबंधित अन्य जानकारी प्राप्त करने का अधिकार है। पुष्टि के लिए अनुरोध हमें लिखित रूप में <a href="mailto:datainquires@vitalstrategies.org">datainquires@vitalstrategies.org</a> के ज़रिए  किया जाना चाहिए।</p>
    <p>Vital Strategies अनुरोध करने पर और आपकी पहचान का सत्यापन करने के बाद, आपको आपसे संबंधित डेटा की प्रति और आपके बारे में डेटा का स्रोत भी देगा। आप हमें अपने व्यक्तिगत डेटा को संगृहीत करना बंद करने के लिए भी कह सकते हैं, और हम आपके अनुरोध को स्वीकार करेंगे जब तक कि आपने जिन प्रयोजनों को प्राप्त करने के लिए अनुमति दी थी, उन्हें प्राप्त करने के लिए इसकी आवश्यकता न हो (जैसे आपके दान को संसाधित करना) या अन्यथा उचित कानूनी या व्यावसायिक उद्देश्यों के लिए इसकी आवश्यकता न हो। हमारे पास आपके बारे में जो जानकारी रखी हुई है, आपको उसकी  प्रतिलिपि मांगने का भी अधिकार है। यदि हमारे द्वारा प्रदान की जाने वाली जानकारी में कोई विसंगतियाँ हों, तो कृपया हमें बताएँ और हम उन्हें ठीक कर देंगे।</p>
    <p>यदि आप अपने डेटा तक पहुँच प्राप्त करना चाहते हैं, तो कृपया Vital Strategies के सूचना प्रौद्योगिकी विभाग को datainquiries@vitalstratgies.org पर उस जानकारी का विवरण भेजें, जिसे आप देखना चाहते हैं और पहचान का स्कैन किया गया प्रमाण भेजें।</p>
    <h3>कुकीज़</h3>
    <p>Vital Strategies निजी जानकारी इकट्ठा किए बिना सीमित रूप से कुकीज़ का उपयोग करता है। Vital Strategies अपनी कुछ वेबसाइटों पर जिस प्रकार की कुकी का उपयोग कर सकता है, उसका उदाहरण ऐसी कुकी है जो यह पहचान सकती है कि आप नए उपयोगकर्ता हैं या लौटने वाले उपयोगकर्ता हैं, ताकि जब आप हमारी साइट पर जाते हैं, तो आपको जो स्पलैश पृष्ठ दिखाई देता है, उसे आपको प्रासंगिक जानकारी प्रदान करने के लिए अनुकूलित किया जा सके।</p>
    <h3>तृतीय पक्ष सेवा प्रदाता</h3>
    <h4>Google Analytics</h4>
    <p>Vital Strategies हमारी वेबसाइटों पर आगंतुकों के बारे में मूलभूत जानकारी प्राप्त करने के लिए Google Analytics का उपयोग करता है। उनके द्वारा डेटा का संग्रहण करने के तरीके के बारे में अधिक जानकारी के लिए आप Google की गोपनीयता नीति यहाँ पढ़ सकते हैं: <a href="http://www.google.com/privacy.html">http://www.google.com/privacy.html</a></p>
    <h4>Stripe</h4>
    <p>दान पृष्ठों का सत्यापन Stripe द्वारा किया जाता है और लेनदेनों को Stripe खाते के ज़रिए संसाधित किया जाता है। उनके द्वारा डेटा का संग्रहण करने के तरीके के बारे में अधिक जानकारी के लिए आप Stripe की गोपनीयता नीति यहाँ पढ़ सकते हैं: <a href="https://stripe.com/us/privacy">https://stripe.com/us/privacy</a>.</p>
    <h3>प्रोग्राम से संबंधित डेटा</h3>
    <p>इस नीति की व्याप्ति ऊपर सूचीबद्ध सामान्य तरीकों से संग्रह किए गए डेटा तक सीमित है। हमारे प्रोग्राम संबंधी प्रयासों के परिणामस्वरूप इकट्ठा, संगृहीत या संसाधित डेटा प्रोग्राम संबंधी कार्य की प्रकृति, डेटा की प्रकृति, दानकर्ता की आवश्यकताओं और/या कानूनी आवश्यकताओं की अपेक्षा के अनुसार विभिन्न डेटा नीतियों के अधीन हो सकता है।</p>
    <h3>Vital Strategies से संपर्क करें</h3>
    <p>यदि इस नीति के बारे में आपके कोई प्रश्न हैं या Vital Strategies द्वारा आपके डेटा को एकत्र करने, संगृहीत करने, और उपयोग करने के तरीके के बारे में किसी अतिरिक्त जानकारी की आवश्यकता है, तो कृपया हमारी वेबसाइटों पर दी गई जानकारी का उपयोग करके या datainquiries@vitalstratgies.org पर हमें ईमेल भेजकर हमसे संपर्क करें।</p>