
      <h2>
        <%= t(:privacy) %>
      </h2>

<p>This Privacy Policy is a statement of how <a href="http://vitalstrategies.org">Vital Strategies</a> treats information it receives from members of the public as they interact with Vital Strategies.</p>
        <p>
        Vital Strategies created this Privacy Policy to demonstrate respect for your privacy preferences and to disclose
        our information collection and sharing practices. Regardless of whether you provide us with your personal
        information via our websites (vitalstrategies.org and resolvetosavelives.org) or in another manner (e.g.
            telephone, regular mail or face-to-face), we strive to honor your privacy preferences.</p>

        <h3>Where Vital Strategies Collects Information</h3>
        <p>Vital Strategies collects and processes certain information about you through the services you use, such as our
        websites, when you subscribe to our newsletter, and through social media sites. Vital Strategies also collects
        the information you provide when filling out a form on our websites or making a donation, as well as through
        communications with us via email, telephone, mail, face-to-face, and other communications channels.</p>

        <h3>What Information We Collect</h3>
        <p>Vital Strategies may collect one or more of the following types of information:</p>
        <ul>
            <li>Personal details (e.g. title, full name, age)</li>
            <li>Contact details (e.g. address, email, phone number)</li>
            <li>Professional details and employment details</li>
            <li>Public information from publicly available sources, including open postings on social media</li>
            <li>Gift aid status and record of donations</li>
            <li>Contact preferences</li>
            <li>IP address, location data, or browser information</li>
        </ul>

        <h3>Simple App</h3>
        <p>In addition to the above-named data the Simple App also collects some or all of the following:</p>
        <ul>
            <li>Patient name, address, mobile phone number, date of birth</li>
            <li>Patient blood pressure and blood pressure drugs</li>
            <li>Clinic location and date of visit</li>
            <li>Healthcare worker name, mobile number and password and associated clinic</li>
            <li>Healthcare facility name, address, association to other clinics</li>
            <li>Geolocation of healthcare worker for easier identification of clinic (healthcare workers must opt-in)</li>
        </ul>

        <h3>How We Use the Information We Collect</h3>
        <p>We collect, process, and use your personal and non-personal information in the following ways:</p>
        <ul>
            <li>Responding to your inquiries</li>
            <li>Communicating with you about your transactions or subscriptions with us and sending you information about features on our websites or about the organization</li>
            <li>Communicating with you about changes to our policies</li>
            <li>Sending you newsletters, mailings, and information about programs, initiatives, activities, and events by
            e-mail or another medium</li>
            <li>Optimizing or improving our programs, services, and operations</li>
            <li>Improving your experience on our websites</li>
            <li>Research and development</li>
            <li>Detecting, investigating, and preventing activities that may violate our policies or be illegal</li>
            <li>Performing statistical, demographic, and marketing analyses of users of the websites and their usage
            patterns</li>
            <li>Managing our organization</li>
        </ul>

        <h3>How We Store and Protect Your Data</h3>
        <p>Vital Strategies uses commercially reasonable technical and organizational measures to help ensure and
        demonstrate that your personal information is safe from loss, misuse, and unauthorized access, disclosure,
        alteration or destruction. These measures shall be reviewed and updated when necessary.
        Vital Strategies stores all of your data on servers located outside the European Union. Vital Strategies has a
        layered security in our systems and only designated employees have access to copies of your personal
        information. All online transactions are done on a secure server. This means that information entered on the
        transaction page is encrypted using SSL (Secure Socket Layer) before transmission. On secure pages, a
        &quot;closed&quot; lock symbol is displayed in the bottom part of your browser screen and the website address in the
        address bar at the top of the browser screen starts with an &quot;https&quot; instead of an &quot;http&quot;.
        We do not knowingly collect or solicit personal information from anyone under the age of 18 or knowingly allow
        such persons to provide us with their personal information without parent or guardian consent.</p>

        <h3>Data Sharing and Data Transfers</h3>
        <p>Vital Strategies does not sell your data to third parties or give it to third parties without your consent, with the
        exception of sharing or transferring your data to our international offices, Vital Strategies’ affiliate offices, or
        Vital Strategies’ affiliate organization The Union. Vital Strategies only shares information with our affiliates or
        international offices as necessary and will not share any information with an affiliate or international office until
        an agreement or MOU is in place between Vital Strategies and the affiliate or international office with explicit
        provisions to preserve confidentiality of shared data.</p>

        <h3>Accessing Your Information</h3>
        <p>Any individual who makes a request is entitled to be told whether any personal data is being stored and
        receive a description of the personal data, the reasons it is being stored, and whether it will be given to any
        other organizations or people. You have the right to obtain from us confirmation of whether we are processing
        personal data concerning you, as well as the purposes of such processing, the categories of data being
        processed, and other information related to the use and storage of your data. Requests for confirmation should
        be made to us in writing via <a href="mailto:datainquires@vitalstrategies.org">datainquires@vitalstrategies.org</a>.</p>

        <p>Vital Strategies will also give you a copy of data and the source of data about you upon request and after
        verification of your identity. You also may ask us to stop storing your personal data, and we will accommodate your request unless the data is necessary to achieve the purposes for which you provided it (e.g. processing
        your donation) or it is otherwise required for legitimate legal or business purposes. You also have a right to ask
        for a copy of the information we hold about you. If there are any discrepancies in the information we provide,
        please let us know and we will correct them.</p>

        <p>If you would like to access your data, please send a description of the information you would like to see and
        scanned proof of identity to Vital Strategies Information Technology Department at
        datainquiries@vitalstratgies.org.</p>

        <h3>Cookies</h3>
        <p>Vital Strategies uses cookies in a limited fashion without collecting personal information. An example of a
        cookie that Vital Strategies may use on some of its websites, is a cookie that can identify if you are a new or
        returning user so that the splash page you see when you visit our site can be customized to provide you
        relevant information.</p>

        <h3>Third Party Service Providers</h3>

        <h4>Google Analytics</h4>
        <p>Vital Strategies uses Google Analytics to obtain basic information about visitors to our websites. You can read
        Google&#39;s privacy policy here for further information on how they store data: <a href="http://www.google.com/privacy.html">http://www.google.com/privacy.html</a></p>

        <h4>Stripe</h4>
        <p>Donation pages are verified by Stripe and transactions are processed using through a Stripe account. You can
        read Stripe’s Privacy Policy here for further information on how they store data: <a href="https://stripe.com/us/privacy">https://stripe.com/us/privacy</a>.</p>

        <h3>Program Related Data</h3>
        <p>This policy is limited in scope to data collected through the general methods listed above. Data that is
        gathered, stored or processed as a result of our programmatic efforts may be subject to different data policies
        as required by the nature of the programmatic work, the nature of the data, donor requirements, and/or legal
        requirements.</p>

        <h3>Contact Vital Strategies</h3>
        <p>If you have any questions about this policy or need any additional information about how Vital Strategies
        collects, stores, and uses your data, please contact us using the information provided on our websites or by
        emailing datainquiries@vitalstratgies.org.</p>
