    <h2><%= t(:privacy) %></h2>
    <p>ਨਿੱਜਤਾ ਨੀਤੀ ਇੱਕ ਸਟੇਟਮੈਂਟ ਹੈ ਜੋ ਦੱਸਦੀ ਹੈ ਕਿ <a href="http://vitalstrategies.org">Vital Strategies</a> ਜਨਤਾ ਦੇ ਮੈਂਬਰਾਂ ਤੋਂ ਪ੍ਰਾਪਤ ਜਾਣਕਾਰੀ ਨੂੰ ਕਿਵੇਂ ਸੰਭਾਲਦੀ ਹੈ, ਜੋ Vital Strategies ਨਾਲ ਸੰਚਾਰ ਕਰਦੇ ਹਨ।</p>
    <p>Vital Strategies ਨੇ ਇਹ ਨਿੱਜਤਾ ਨੀਤੀ, ਤੁਹਾਡੀਆਂ ਨਿੱਜਤਾ ਤਰਜੀਹਾਂ ਲਈ ਸਨਮਾਨ ਦਿਖਾਉਣ ਅਤੇ ਸਾਡੀ ਜਾਣਕਾਰੀ ਇਕੱਤਰੀਕਰਨ ਅਤੇ ਸਾਂਝੀ ਕਰਨ ਦੀਆਂ ਪੱਧਤੀਆਂ ਦਾ ਖੁਲਾਸਾ ਕਰਨ ਲਈ ਤਿਆਰ ਕੀਤੀ ਹੈ। ਇਸ ਗੱਲ ਦੀ ਪਰਵਾਹ ਕੀਤੇ ਬਿਨਾਂ ਕਿ ਤੁਸੀਂ ਸਾਨੂੰ ਸਾਡੀਆਂ ਵੈੱਬਸਾਈਟਾਂ (vitalstrategies.org ਅਤੇ resolvetosavelives.org) ਜਾਂ ਕਿਸੇ ਹੋਰ ਤਰੀਕੇ ਨਾਲ (ਜਿਵੇਂ ਟੈਲੀਫੋਨ, ਨਿਯਮਿਤ ਈਮੇਲ ਜਾਂ ਆਹਮੋ-ਸਾਹਮਣੇ) ਆਪਣੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਦਿੰਦੇ ਹੋ, ਅਸੀਂ ਤੁਹਾਡੀਆਂ ਨਿੱਜਤਾ ਤਰਜੀਹਾਂ ਦਾ ਸਨਮਾਨ ਕਰਨ ਦਾ ਜਤਨ ਕਰਾਂਗੇ।</p>
    <h3>Vital Strategies ਜਾਣਕਾਰੀ ਕਿੱਥੋਂ ਇਕੱਠੀ ਕਰਦੀ ਹੈ</h3>
    <p>Vital Strategies ਉਹਨਾਂ ਸੇਵਾਵਾਂ ਦੁਆਰਾ ਤੁਹਾਡੇ ਬਾਰੇ ਕੁਝ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਕਰਦੀ ਹੈ ਅਤੇ ਉਸਦੀ ਪ੍ਰਕਿਰਿਆ ਕਰਦੀ ਹੈ, ਜਿਵੇਂ ਸਾਡੀਆਂ ਵੈੱਬਸਾਈਟਾਂ, ਜਦੋਂ ਤੁਸੀਂ ਸਾਡੇ ਨਿਊਜ਼ਲੈਟਰ ਅਤੇ ਸੋਸ਼ਲ ਮੀਡੀਆ ਸਾਈਟਾਂ ਨੂੰ ਸਬਸਕ੍ਰਾਈਬ ਕਰਦੇ ਹੋ। Vital Strategies ਤੁਹਾਡੇ ਦੁਆਰਾ ਸਾਡੀਆਂ ਵੈੱਬਸਾਈਟਾਂ &lsquo;ਤੇ ਫਾਰਮ ਭਰਨ ਜਾਂ ਦਾਨ ਕਰਨ ਦੇ ਸਮੇਂ ਦੇ ਨਾਲ-ਨਾਲ, ਸਾਡੇ ਨਾਲ ਈਮੇਲ, ਟੈਲੀਫੋਨ, ਡਾਕ ਆਹਮੋ-ਸਾਹਮਣੇ ਅਤੇ ਹੋਰ ਸੰਚਾਰ ਵਿਧੀਆਂ ਨਾਲ ਸੰਚਾਰ ਦੁਆਰਾ ਵੀ ਤੁਹਾਡੇ ਦੁਆਰਾ ਦਿੱਤੀ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਕਰਦੀ ਹੈ।</p>
    <h3>ਅਸੀਂ ਕਿਹੜੀ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਕਰਦੇ ਹਾਂ</h3>
    <p>Vital Strategies ਹੇਠਾਂ ਦਿੱਤੇ ਇੱਕ ਜਾਂ ਵੱਧ ਪ੍ਰਕਾਰਾਂ ਦੀ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਕਰ ਸਕਦੀ ਹੈ:</p>
    <ul>
      <li>ਨਿੱਜੀ ਵੇਰਵਾ (ਜਿਵੇਂ ਸਿਰਲੇਖ, ਪੂਰਾ ਨਾਮ, ਉਮਰ)</li>
      <li>ਸੰਪਰਕ ਵੇਰਵੇ (ਜਿਵੇਂ ਪਤਾ, ਈਮੇਲ, ਫੋਨ ਨੰਬਰ)</li>
      <li>ਪੇਸ਼ੇਵਰਾਨਾ ਵੇਰਵਾ ਅਤੇ ਰੁਜ਼ਗਾਰ ਦਾ ਵੇਰਵਾ</li>
      <li>ਜਨਤਕ ਤੌਰ &lsquo;ਤੇ ਉਪਲਬਧ ਸਰੋਤਾਂ ਤੋਂ ਜਨਤਕ ਜਾਣਕਾਰੀ, ਸੋਸ਼ਲ ਮੀਡੀਆ &lsquo;ਤੇ ਖੁੱਲ੍ਹੀਆਂ ਪੋਸਟਾਂ ਸਮੇਤ </li>
      <li>ਉਪਹਾਰ ਸਹਾਇਤਾ ਦੀ ਸਥਿਤੀ ਅਤੇ ਦਾਨਾਂ ਦਾ ਰਿਕਾਰਡ</li>
      <li>ਸੰਪਰਕ ਸਬੰਧੀ ਤਰਜ਼ੀਹਾਂ</li>
      <li>IP ਪਤਾ, ਸਥਿਤੀ ਦਾ ਡਾਟਾ ਜਾਂ ਬ੍ਰਾਊਜ਼ਰ ਸਬੰਧੀ ਜਾਣਾਕਰੀ</li>
    </ul>
    <h3>ਸਿੰਪਲ ਐਪ</h3>
    <p>ਉਪਰੋਕਤ ਡੇਟੇ ਤੋਂ ਇਲਾਵਾ ਸਿੰਪਲ ਐਪ ਹੇਠਾਂ ਦਿੱਤੇ ਵਿੱਚੋਂ ਕੁਝ ਜਾਂ ਸਾਰਾ ਡਾਟਾ ਇਕੱਠਾ ਕਰਦਾ ਹੈ:</p>
    <ul>
      <li>ਰੋਗੀ ਦਾ ਨਾਮ, ਪਤਾ, ਮੋਬਾਈਲ ਫੋਨ ਨੰਬਰ, ਜਨਮ ਤਾਰੀਖ਼</li>
      <li>ਰੋਗੀ ਦਾ ਬਲੱਡ ਪ੍ਰੈਸ਼ਰ ਅਤੇ ਬਲੱਡ ਪ੍ਰੈਸ਼ਰ ਦੀਆਂ ਦਵਾਈਆਂ </li>
      <li>ਕਲੀਨਿਕ ਦਾ ਸਥਾਨ ਅਤੇ ਵਿਜ਼ਿਟ ਕਰਨ ਦੀ ਤਾਰੀਖ਼ </li>
      <li>ਸਿਹਤ ਸੰਭਾਲ ਕਾਰਜਕਰਤਾ ਦਾ ਨਾਮ, ਮੋਬਾਈਲ ਨੰਬਰ ਅਤੇ ਪਾਸਵਰਡ ਅਤੇ ਸਬੰਧਿਤ ਕਲੀਨਿਕ</li>
      <li>ਸਿਹਤ ਸੰਭਾਲ ਕੇਂਦਰ ਦਾ ਨਾਮ, ਪਤਾ, ਹੋਰ ਕਲੀਨਿਕਾਂ ਨਾਲ ਐਸੋਸਿਏਸ਼ਨ</li>
      <li>ਕਲੀਨਿਕ ਦੀ ਆਸਾਨੀ ਨਾਲ ਪਹਿਚਾਣ ਕਰਨ ਦੀ ਸਿਹਤ ਸੰਭਾਲ ਕਾਰਜਕਰਤਾ ਦੀ ਜੀਓਲੋਕੇਸ਼ਨ (ਸਿਹਤ ਸੰਭਾਲ ਕਾਰਜਕਰਤਾ ਦੁਆਰਾ ਚੁਣੀ ਜਾਣੀ ਜਰੂਰੀ ਹੈ)</li>
    </ul>
    <h3>ਅਸੀਂ ਇਕੱਠੀ ਕੀਤੀ ਜਾਣਕਾਰੀ ਦੀ ਵਰਤੋਂ ਕਿਵੇਂ ਕਰਦੇ ਹਾਂ।</h3>
    <p>ਅਸੀਂ ਹੇਠਾਂ ਦਿੱਤੇ ਤਰੀਕਿਆਂ ਨਾਲ ਤੁਹਾਡੀ ਨਿੱਜੀ ਅਤੇ ਗੈਰ-ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਕਰਦੇ ਹਾਂ, ਉਸਦੀ ਪ੍ਰਕਿਰਿਆ ਕਰਦੇ ਹਾਂ ਅਤੇ ਉਸਨੂੰ ਵਰਤਦੇ ਹਾਂ:</p>
    <ul>
      <li>ਤੁਹਾਡੇ ਸਵਾਲਾਂ ਦੇ ਜਵਾਬ ਦੇਣਾ</li>
      <li>ਸਾਡੇ ਨਾਲ ਕੀਤੀਆਂ ਤੁਹਾਡੀਆਂ ਟ੍ਰਾਂਜੈਕਸ਼ਨਾਂ ਜਾਂ ਸਬਸ਼ਕ੍ਰਿਪਸ਼ਨਾਂ ਬਾਰੇ ਤੁਹਾਡੇ ਨਾਲ ਸੰਚਾਰ ਕਰਨਾ ਅਤੇ ਤੁਹਾਨੂੰ ਸਾਡੀ ਵੈੱਬਸਾਈਟ ਜਾਂ ਸੰਗਠਨ ਦੀਆਂ  ਵਿਸ਼ੇਸ਼ਤਾਵਾਂ ਸਬੰਧੀ ਜਾਣਕਾਰੀ ਭੇਜਣਾ</li>
      <li>ਸਾਡੀਆਂ ਪਾਲਸੀਆਂ ਵਿੱਚ ਬਦਲਾਵਾਂ ਬਾਰੇ ਤੁਹਾਡੇ ਨਾਲ ਗੱਲ ਕਰਨਾ</li>
      <li>ਈਮੇਲ ਜਾਂ ਕਿਸੇ ਹੋਰ ਮਾਧਿਅਮ ਦੁਆਰਾ ਪ੍ਰੋਗਰਾਮਾਂ, ਪਹਿਲਕਦਮੀਆਂ, ਗਤੀਵਿਧੀਆਂ ਅਤੇ ਕਾਰਜਕਰਮਾਂ ਬਾਰੇ ਤੁਹਾਨੂੰ ਨਿਊਜ਼ਲੈਟਰ, ਡਾਕ ਅਤੇ ਜਾਣਕਾਰੀ ਭੇਜਣਾ</li>
      <li>ਸਾਡੇ ਪ੍ਰੋਗਰਾਮ, ਸੇਵਾਵਾਂ ਅਤੇ ਸੰਚਾਲਨਾਂ ਨੂੰ ਅਨੁਕੂਲਤ ਕਰਨਾ ਜਾਂ ਸੁਧਾਰਨਾ</li>
      <li>ਸਾਡੀਆਂ ਵੈੱਬਸਾਈਟਾਂ &lsquo;ਤੇ ਤੁਹਾਡਾ ਅਨੁਭਵ ਸੁਧਾਰਨਾ</li>
      <li>ਖੋਜ ਅਤੇ ਵਿਕਾਸ</li>
      <li>ਉਹਨਾਂ ਗਤੀਵਿਧੀਆਂ ਦਾ ਪਤਾ ਲਗਾਉਣਾ, ਜਾਂਚ ਕਰਨਾ ਅਤੇ ਰੋਕਣਾ, ਜੋ ਸਾਡੀਆਂ ਪਾਲਸੀਆਂ ਦੀ ਉਲੰਘਣਾ ਕਰ  ਸਕਦੀਆਂ ਹਨ ਜਾਂ ਗੈਰ-ਕਾਨੂੰਨੀ ਹੋ ਸਕਦੀਆਂ ਹਨ।</li>
      <li>ਵੈੱਬਸਾਈਟਾਂ ਦੇ ਵਰਤੋਂਕਾਰਾਂ ਅਤੇ ਉਹਨਾਂ ਦੇ ਵਰਤੋਂ ਦੇ ਪੈਟਰਨਾਂ ਦੇ ਸੰਖਿਆਤਮਕ ਜਨਸੰਖਿਅਕੀ ਅਤੇ ਮਾਰਕੀਟਿੰਗ ਵਿਸ਼ਲੇਸ਼ਣ ਕਰਨਾ</li>
      <li>ਸਾਡੇ ਸੰਗਠਨ ਨੂੰ ਵਿਵਸਥਿਤ ਕਰਨਾ</li>
    </ul>
    <h3>ਅਸੀਂ ਤੁਹਾਡਾ ਡਾਟਾ ਕਿਵੇਂ ਸਟੋਰ ਕਰਦੇ ਹਾਂ ਅਤੇ ਸੁਰੱਖਿਅਤ ਰੱਖਦੇ ਹਾਂ</h3>
    <p>Vital Strategies ਇਹ ਯਕੀਨੀ ਬਣਾਉਣ ਅਤੇ ਦਿਖਾਉਣ ਲਈ ਵਪਾਰਕ ਤੌਰ &lsquo;ਤੇ ਵਾਜ਼ਬ ਤਕਨੀਕੀ ਅਤੇ ਸੰਗਠਨਾਤਮਕ ਉਪਾਅ ਵਰਤਦੀ ਹੈ ਕਿ ਤੁਹਾਡੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਨੁਕਸਾਨ. ਦੁਰਵਰਤੋਂ, ਅਤੇ ਗੈਰ-ਅਧਿਕਾਰਤ ਵਰਤੋਂ, ਖੁਲਾਸੇ, ਬਦਲਾਵ ਜਾਂ ਨਸ਼ਟ ਹੋਣ ਤੋਂ ਸੁਰੱਖਿਅਤ ਰਹੇ। ਇਹਨਾਂ ਉਪਾਵਾਂ ਦੀ ਸਮੀਖਿਆ ਕੀਤੀ ਜਾਵੇਗੀ ਅਤੇ ਜ਼ਰੂਰੀ ਹੋਣ 'ਤੇ ਇਹਨਾਂ ਨੂੰ ਅਪਡੇਟ ਕੀਤਾ ਜਾਵੇਗਾ। Vital Strategies ਯੂਰੋਪੀਅਨ ਯੂਨੀਅਨ ਤੋਂ ਬਾਹਰ ਸਥਿਤ ਸਰਵਰਾਂ 'ਤੇ ਤੁਹਾਡਾ ਸਾਰਾ ਡਾਟਾ ਸਟੋਰ ਕਰਦੀ ਹੈ। Vital Strategies ਦੀ ਸਾਡੇ ਸਿਸਟਮਾਂ ਵਿੱਚ ਪਰਤਦਾਰ ਸੁਰੱਖਿਆ ਹੈ ਅਤੇ ਕੇਵਲ ਨਿਯੁਕਤ ਕੀਤੇ ਕਰਮਚਾਰੀ ਹੀ ਤੁਹਾਡੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਦੀਆਂ ਕਾਪੀਆਂ ਵਰਤ ਸਕਦੇ ਹਨ। ਸਾਰੀਆਂ ਆੱਨਲਾਈਨ ਟ੍ਰਾਂਜੈਕਸ਼ਨਾਂ ਸੁਰੱਖਿਅਤ ਸਰਵਰ &lsquo;ਤੇ ਕੀਤੀਆਂ ਜਾਂਦੀਆਂ ਹਨ। ਇਸਦਾ ਅਰਥ ਹੈ ਕਿ ਟ੍ਰਾਂਜੈਕਸ਼ਨ ਪੰਨੇ &lsquo;ਤੇ ਦਰਜ ਕੀਤੀ ਜਾਣਕਾਰੀ ਟ੍ਰਾਂਸਮਿਸ਼ਨ ਤੋਂ ਪਹਿਲਾਂ SSL (ਸੁਰੱਖਿਅਤ ਸਾੱਕੇਟ ਲੇਅਰ) ਵਰਤ ਕੇ ਐਨਕ੍ਰਿਪਟ ਕੀਤੀ ਜਾਂਦੀ ਹੈ। ਸੁਰੱਖਿਅਤ ਪੰਨਿਆਂ &lsquo;ਤੇ ਇੱਕ &ldquo;ਬੰਦ&rdquo; ਲਾੱਕ ਸੰਕੇਤ ਤੁਹਾਡੇ ਬ੍ਰਾਊਜ਼ਰ ਸਕ੍ਰੀਨ ਦੇ ਹੇਠਲੇ ਹਿੱਸੇ ਵਿੱਚ ਦਿਖਾਇਆ ਜਾਂਦਾ ਹੈ ਅਤੇ "http" ਦੀ ਬਜਾਇ "https" ਨਾਲ ਸ਼ੁਰੂ ਹੋਣ ਵਾਲੀ ਬ੍ਰਾਊਜ਼ਰ ਸਕ੍ਰੀਨ ਦੇ ਉੱਪਰਲੇ ਪਾਸੇ ਪਤਾ ਬਾਰ ਵਿੱਚ ਵੈੱਬਸਾਈਟ ਪਤਾ ਦਿਖਾਇਆ ਜਾਂਦਾ ਹੈ। ਅਸੀਂ 18 ਸਾਲ ਤੋਂ ਘੱਟ ਉਮਰ ਦੇ ਕਿਸੇ ਵਿਅਕਤੀ ਤੋਂ ਜਾਣਬੁੱਝ ਕੇ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਨਹੀਂ ਕਰਦੇ ਜਾਂ ਇਸਦੀ ਮੰਗ ਨਹੀਂ ਕਰਦੇ ਜਾਂ ਜਾਣਬੁੱਝ ਕੇ ਅਜਿਹੇ ਵਿਅਕਤੀ ਨੂੰ ਮਾਤਾ/ਪਿਤਾ ਜਾਂ ਸਰਪ੍ਰਸਤ ਦੀ ਸਹਿਮਤੀ ਬਗੈਰ ਆਪਣੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਸਾਨੂੰ ਦੇਣ ਦੀ ਆਗਿਆ ਨਹੀਂ ਦਿੰਦੇ।</p>
    <h3>ਡੇਟਾ ਸਾਂਝਾ ਕਰਨਾ ਅਤੇ ਡੇਟਾ ਟ੍ਰਾਂਸਫਰ ਕਰਨਾ</h3>
    <p>Vital Strategies ਤੁਹਾਡਾ ਡੇਟਾ ਤੀਜੇ ਪੱਖਾਂ ਨੂੰ ਨਹੀਂ ਵੇਚਦੀ, ਨਾ ਹੀ ਬਿਨਾਂ ਤੁਹਾਡੀ ਸਹਿਮਤੀ ਦੇ ਇਹ ਤੀਜੇ ਪੱਖਾਂ ਨੂੰ ਦਿੰਦੀ ਹੈ, ਸਿਵਾਏ ਸਾਡੇ ਅੰਤਰਰਾਸ਼ਟਰੀ ਦਫ਼ਤਰ, Vital Strategies ਦੇ ਸਹਿਯੋਗੀ ਦਫ਼ਤਰਾਂ, ਜਾਂ Vital Strategies ਦੀ ਸਹਿਯੋਗੀ ਸੰਗਠਨ ਯੂਨੀਅਨ ਨਾਲ ਸਾਂਝਾ ਕਰਨ ਦੇ। Vital Strategies ਲੋੜ ਅਨੁਸਾਰ ਜਾਣਕਾਰੀ ਸਾਡੇ ਸਹਿਯੋਗੀਆਂ ਜਾਂ ਅੰਤਰਰਾਸ਼ਟਰੀ ਦਫ਼ਤਰਾਂ ਨਾਲ ਸਾਂਝਾ ਕਰਦੀ ਹੈ ਅਤੇ ਉਹ ਸਾਂਝੇ ਕੀਤੇ ਡਾਟਾ ਦੀ ਗੁਪਤਤਾ ਨੂੰ ਸੁਰੱਖਿਅਤ ਰੱਖਣ ਦੇ ਸਪਸ਼ਟ ਪ੍ਰਬੰਧਾਂ ਨਾਲ Vital Strategies ਅਤੇ ਸਹਿਯੋਗੀ ਜਾਂ ਅੰਤਰਰਾਸ਼ਟਰੀ ਦਫ਼ਤਰ ਵਿਚਕਾਰ ਸਮਝੌਤਾ ਜਾਂ MOU ਹੋਣ ਤੱਕ ਸਹਿਯੋਗੀ ਜਾਂ ਅੰਤਰਰਾਸ਼ਟਰੀ ਦਫ਼ਤਰ ਨਾਲ ਕੋਈ ਜਾਣਕਾਰੀ ਸਾਂਝੀ ਨਹੀਂ ਕਰੇਗੀ।</p>
    <h3>ਤੁਹਾਡੀ ਜਾਣਕਾਰੀ ਤੱਕ ਪਹੁੰਚ ਪ੍ਰਾਪਤ ਕਰਨਾ</h3>
    <p>ਬੇਨਤੀ ਕਰਨ ਵਾਲਾ ਕੋਈ ਵੀ ਵਿਅਕਤੀ ਇਹ ਸੂਚਨਾ ਪ੍ਰਾਪਤ ਕਰਨ ਦਾ ਹੱਕਦਾਰ ਹੈ ਕਿ ਕੋਈ ਨਿੱਜੀ ਡੇਟਾ ਸਟੋਰ ਕੀਤਾ ਜਾ ਰਿਹਾ ਹੈ ਅਤੇ ਨਿੱਜੀ ਡੇਟੇ ਦਾ ਵੇਰਵਾ ਪ੍ਰਾਪਤ ਕੀਤਾ ਜਾ ਰਿਹਾ ਹੈ, ਇਸਨੂੰ ਸਟੋਰ ਕਰਨ ਦੇ ਕੀ ਕਾਰਨ ਹਨ, ਅਤੇ ਕੀ ਇਹ ਕਿਸੇ ਹੋਰ ਸੰਗਠਨ ਜਾਂ ਲੋਕਾਂ ਨੂੰ ਦਿੱਤਾ ਜਾਵੇਗਾ। ਤੁਹਾਡੇ ਕੋਲ ਸਾਡੇ ਤੋਂ ਇਹ ਪੁਸ਼ਟੀ ਪ੍ਰਾਪਤ ਕਰਨ ਦਾ ਅਧਿਕਾਰ ਹੈ ਕਿ ਅਸੀਂ ਤੁਹਾਡੇ ਨਾਲ ਸਬੰਧਤ ਨਿੱਜੀ ਡੇਟੇ ਦੀ ਪ੍ਰਕਿਰਿਆ ਕਰ ਰਹੇ ਹਾਂ, ਨਾਲ ਹੀ ਉਸ ਪ੍ਰਕਿਰਿਆ ਦੇ ਉਦੇਸ਼, ਪ੍ਰਕਿਰਿਆ ਕੀਤੇ ਜਾ ਰਹੇ ਡੇਟੇ ਦੀਆਂ ਸ੍ਰੇਣੀਆਂ, ਅਤੇ ਤੁਹਾਡੇ ਡੇਟੇ ਦੀ ਵਰਤੋਂ ਅਤੇ ਸਟੋਰੇਜ ਸਬੰਧੀ ਹੋਰ ਜਾਣਕਾਰੀ। ਪੁਸ਼ਟੀ ਦੀ ਬੇਨਤੀ ਸਾਨੂੰ <a href="mailto:datainquires@vitalstrategies.org">datainquires@vitalstrategies.org</a> ਰਾਹੀਂ ਲਿਖ ਕੇ ਕੀਤੀ ਜਾਣੀ ਚਾਹੀਦੀ ਹੈ।</p>
    <p>Vital Strategies ਤੁਹਾਡੇ ਦੁਆਰਾ ਬੇਨਤੀ ਕਰਨ &lsquo;ਤੇ ਅਤੇ ਤੁਹਾਡੀ ਪਹਿਚਾਣ ਦੀ ਪੁਸ਼ਟੀ ਕਰਨ ਮਗਰੋਂ ਡੇਟੇ ਅਤੇ ਡੇਟਾ ਸਰੋਤ ਦੀ ਕਾਪੀ ਵੀ ਤੁਹਾਨੂੰ ਦੇਵੇਗੀ। ਤੁਸੀਂ ਆਪਣਾ ਨਿੱਜੀ ਡੇਟਾ ਸਟੋਰ ਕਰਨਾ ਬੰਦ ਕਰਨ ਲਈ ਕਹਿ ਸਕਦੇ ਹੋ ਅਤੇ ਅਸੀਂ ਤੁਹਾਡੀ ਬੇਨਤੀ ਨੂੰ ਉਦੋਂ ਤੱਕ ਵਿਵਸਥਿਤ ਕਰਾਂਗੇ, ਜਦੋਂ ਤੱਕ ਡਾਟਾ ਉਹਨਾਂ ਉਦੇਸ਼ਾਂ ਦੀ ਪ੍ਰਾਪਤੀ ਲਈ ਜਰੂਰੀ ਨਹੀਂ ਹੁੰਦਾ, ਜਿਹਨਾਂ ਲਈ ਤੁਸੀਂ ਇਹ ਦਿੱਤਾ (ਜਿਵੇਂ ਤੁਹਾਡੇ ਦਾਨ ਦੀ ਪ੍ਰਕਿਰਿਆ ਕਰਨਾ) ਜਾਂ ਇਹ ਵਾਜ਼ਿਬ ਕਾਨੂੰਨੀ ਜਾਂ ਵਪਾਰਕ ਉਦੇਸ਼ਾਂ ਲਈ ਜਰੂਰੀ ਨਹੀਂ ਹੁੰਦਾ। ਤੁਹਾਨੂੰ ਸਾਡੇ ਕੋਲ ਰੱਖੀ ਜਾਣਕਾਰੀ ਦੀ ਕਾਪੀ ਦੀ ਮੰਗ ਕਰਨ ਦਾ ਵੀ ਅਧਿਕਾਰ ਹੋਵੇਗਾ।  ਜੇ ਸਾਡੇ ਦੁਆਰਾ ਦਿੱਤੀ ਜਾਣਕਾਰੀ ਵਿੱਚ ਕੋਈ ਤਰੁੱਟੀ ਹੈ, ਤਾਂ ਕਿਰਪਾ ਕਰਕੇ ਸਾਨੂੰ ਦੱਸੋ ਅਤੇ ਅਸੀਂ ਉਸਨੂੰ ਸਹੀ ਕਰਾਂਗੇ।</p>
    <p>ਜੇ ਤੁਸੀਂ ਆਪਣੇ ਡੇਟੇ ਤੱਕ ਪਹੁੰਚ ਪ੍ਰਾਪਤ ਕਰਨਾ ਚਾਹੁੰਦੇ ਹੋ, ਤਾਂ ਕਿਰਪਾ ਕਰਕੇ ਉਸ ਜਾਣਕਾਰੀ ਦਾ ਵੇਰਵਾ, ਜੋ ਤੁਸੀਂ ਦੇਖਣਾ ਚਾਹੁੰਦੇ ਹੋ ਅਤੇ ਪਹਿਚਾਣ ਦੀ ਸਕੈਨ ਕਾਪੀ Vital Strategies ਜਾਣਕਾਰੀ ਟੈਕਨੋਲੋਜੀ ਵਿਭਾਗ ਨੂੰ datainquiries@vitalstratgies.org &lsquo;ਤੇ ਭੇਜੋ।</p>
    <h3>ਕੂਕੀਜ਼</h3>
    <p>Vital Strategies ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਇਕੱਠੀ ਕਰਨ ਤੋਂ ਬਿਨਾਂ ਸੀਮਿਤ ਤਰੀਕੇ ਨਾਲ ਕੂਕੀਜ਼ ਵਰਤਦੀ ਹੈ। ਕੂਕੀ ਦੀ ਉਦਾਹਰਨ, ਜੋ Vital Strategies ਆਪਣੀਆਂ ਕੁਝ ਵੈੱਬਸਾਈਟਾਂ &lsquo;ਤੇ ਵਰਤ ਸਕਦੀ ਹੈ, ਇੱਕ ਕੂਕੀ ਹੈ, ਜਿਸਦੀ ਪਹਿਚਾਣ ਕੀਤੀ ਜਾ ਸਕਦੀ ਹੈ ਜੇ ਤੁਸੀਂ ਨਵੇਂ ਜਾਂ ਵਾਪਸ ਆਉਣ ਵਾਲੇ ਯੂਜ਼ਰ ਹੋ, ਤਾਂ ਜੋ ਤੁਸੀਂ ਸਾਡੀ ਸਾਈਟ &lsquo;ਤੇ ਆਉਣ ਵੇਲੇ ਜੋ ਸਪਲੈਸ਼ ਪੇਜ ਤਸੀਂ ਦੇਖਦੇ ਹੋ, ਨੂੰ ਸਬੰਧਿਤ ਜਾਣਕਾਰੀ ਦੇਣ ਲਈ ਅਨੁਕੂਲਿਤ ਕੀਤਾ ਜਾ ਸਕੇ।</p>
    <h3>ਤੀਜੇ ਪੱਖ ਦੇ ਸੇਵਾ ਪ੍ਰਦਾਤਾ</h3>
    <h4>Google Analytics</h4>
    <p>Vital Strategies ਸਾਡੀਆਂ ਵੈੱਬਸਾਈਟਾਂ &lsquo;ਤੇ ਵਿਜ਼ੀਟਰਾਂ ਬਾਰੇ ਮੁੱਢਲੀ ਜਾਣਕਾਰੀ ਲੈਣ ਲਈ Google Analytics ਵਰਤਦੀ ਹੈ। ਤੁਸੀਂ ਡੇਟਾ ਸਟੋਰ ਕਰਨ ਬਾਰੇ ਜ਼ਿਆਦਾ ਜਾਣਕਾਰੀ ਲੈਣ ਲਈ ਇੱਥੇ Google ਦੀ ਨਿੱਜਤਾ ਪਾਲਸੀ ਪੜ੍ਹ ਸਕਦੇ ਹੋ:  <a href="http://www.google.com/privacy.html">http://www.google.com/privacy.html</a></p>
    <h4>Stripe</h4>
    <p>ਦਾਨ ਪੇਜਾਂ ਨੂੰ Stripe ਦੁਆਰਾ ਜਾਂਚਿਆਂ ਜਾਂਦਾ ਹੈ ਅਤੇ ਟ੍ਰਾਂਜੈਕਸ਼ਨਾਂ ਦੀ ਪ੍ਰਕਿਰਿਆ Stripe ਖਾਤੇ ਵਰਤਦੇ ਹੋਏ ਕੀਤੀ ਜਾਂਦੀ ਹੈ। ਤੁਸੀ ਉਹਨਾਂ ਦੇ ਡੇਟਾ ਸਟੋਰ ਕਰਨ ਬਾਰੇ ਜ਼ਿਆਦਾ ਜਾਣਕਾਰੀ ਲਈ ਇੱਥੇ Stripe ਦੀ ਨਿੱਜਤਾ ਪਾਲਸੀ ਪੜ੍ਹ ਸਕਦੇ ਹੋ:<a href="https://stripe.com/us/privacy">https://stripe.com/us/privacy</a>।</p>
    <h3>ਪ੍ਰੋਗਰਾਮ ਸਬੰਧੀ ਡਾਟਾ</h3>
    <p>ਇਹ ਪਾਲਸੀ ਉਪਰੋਕਤ ਆਮ ਵਿਧੀਆਂ ਰਾਹੀਂ ਡੇਟਾ ਇਕੱਠਾ ਕਰਨ ਦੇ ਕਾਰਜ ਖੇਤਰ ਤੱਕ ਸੀਮਿਤ ਹੈ। ਸਾਡੇ ਪ੍ਰੋਗਰਾਮੈਟਿਕ ਯਤਨਾਂ ਦੇ ਨਤੀਜੇ ਵਜੋਂ ਇਕੱਠਾ ਕੀਤਾ, ਸਟੋਰ ਕੀਤਾ ਜਾਂ ਪ੍ਰਕਿਰਿਆ ਕੀਤਾ ਜਾਣ ਵਾਲਾ ਡੇਟਾ ਵੱਖ-ਵੱਖ ਡੇਟਾ ਪਾਲਸੀਆਂ ਦੇ ਅਧੀਨ ਹੋ ਸਕਦਾ ਹੈ, ਜਿਵੇਂ ਪ੍ਰੋਗਰਾਮੈਟਿਕ ਕੰਮ ਦੇ ਪ੍ਰਕਾਰ, ਡੇਟੇ ਦੇ ਪ੍ਰਕਾਰ, ਦਾਨੀ ਦੀਆਂ ਸ਼ਰਤਾਂ, ਅਤੇ/ਜਾਂ ਕਾਨੂੰਨੀ ਸ਼ਰਤਾਂ ਦੁਆਰਾ ਲੋੜੀਂਦਾ ਹੋਵੇ।</p>
    <h3>Vital Strategies ਨੂੰ ਸੰਪਰਕ ਕਰੋ</h3>
    <p>ਜੇ ਇਸ ਪਾਲਸੀ ਬਾਰੇ ਤੁਹਾਡੇ ਕੋਈ ਸਵਾਲ ਹਨ ਜਾਂ Vital Strategies ਦੁਆਰਾ ਤੁਹਾਡਾ ਡਾਟਾ ਇਕੱਠਾ ਕਰਨ, ਸਟੋਰ ਕਰਨ ਅਤੇ ਵਰਤਣ ਬਾਰੇ ਤੁਹਾਨੂੰ ਕਿਸੇ ਵਾਧੂ ਜਾਣਕਾਰੀ ਦੀ ਲੋੜ ਹੈ, ਤਾਂ ਕਿਰਪਾ ਕਰਕੇ ਸਾਡੀਆਂ ਵੈੱਬਸਾਈਟਾਂ &lsquo;ਤੇ ਦਿੱਤੀ ਜਾਣਕਾਰੀ ਵਰਤ ਕੇ ਜਾਂ datainquiries@vitalstratgies.org. &lsquo;ਤੇ ਸਾਨੂੰ ਈਮੇਲ ਕਰਕੇ ਸਾਡੇ ਨਾਲ ਸੰਪਰਕ ਕਰੋ।</p>