---
title: / Products
---


<h2>Products</h2>

<p>Simple has 3 parts: an Android app for healthcare workers, a web-based dashboard for health system administrators and surveillance teams, and a mobile app for patient app. The Simple app can also be used to monitor blood sugars, for a more complete non-communicable disease management program.</p>

<h3>1. Simple app</h3>
<p>An Android app used by healthcare workers to register patients, record blood pressures, blood sugars, and medications at each visit. The Android app is designed to be offline-first and to be very fast &#8212; a returning patient can be recorded in less than 20 seconds.</p>
<p>The Simple app also has an optional patient ID card or sticker, called a BP Passport, with a unique QR code. When patients remember to bring their ID, follow-up is quick and easy.</p>


<h3>2. Simple dashboard</h3>
<p>The Simple dashboard gives health systems managers and public health surveillance teams the data they need to make good decisions. The dashboard provides daily, monthly, and quarterly reports for key indicators.</p>

<h3>3. BP Passport app for patients</h3>
<p>...</p>

<div style="height: 600px;"></div>