---
layout: barebones
title: Screenshots

screens:

    - img: 03-Training-video.png
      title: Introduction
      caption: New users are presented with an optional 5 minute training video before starting to use Simple.

    - img: 01-Home.png
      title: Home screen
      caption: The main screen of the app. Search for patients, scan BP Passports, and quickly look up recent patients.

    - img: 02-Patient-summary.png
      title: Patient summary
      caption: The main screen for a patient showing their longitudinal health record. Healthcare workers add BPs and medications.

    - img: 01-Enter-BP.png
      title: Add BP measure
      caption: Manual entry of a blood pressure of a patient. By default, BPs are for "today" but users can back-date entries by tapping the date.

    - img: 03-Medicines.png
      title: Choose medications
      caption: Protocol medications and other common BP medication are pre-loaded by default. These are custom per region. Users can optionally enter any other medication by typing out the name.

    - img: 03-Dosage.png
      title: Choose medication dosage
      caption: Protocol and common medications have pre-loaded default values, so a user can tap-tap and be finished quickly.

    - img: 03-Custom-medicine.png
      title: Custom medication
      caption: Users can enter any medication by typing it in.

    - img: 04-Schedule.png
      title: Schedule next visit
      caption: At the end of each encounter, users are prompted to schedule the next visit. Patients who miss their visit are sent an SMS reminder and then are added to an "Overdue" list for follow-up by a healthcare worker.

    - img: 03-Search-results.png
      title: Search results
      caption: When patients don't have a BP Passport, users search manually and disambiguate to choose the right patient.

    - img: 04-Register.png
      title: Register a new patient
      caption: Simple asks for the minumum number of fields possible to confidently ID a patient in the future. In places we ID systems we would ask for state ID, health ID, etc.

    - img: 04-History.png
      title: Medical history
      caption: During registration, healthcare workers enter a minimum of necessary cardiovascular history questions about the patient.

    - img: 09-Overdue.png
      title: Overdue contact list
      caption: Call overdue (defaulted) patients to have them return to care. Calls are routed through an anonymization service so patients don't see nurses' phone numbers.

    - img: 09-Overdue-reasons.png
      title: Overdue call results
      caption: After calling a patient, the user marks the result of the call.

    - img: 10-Progress.png
      title: Progress overview
      caption: The progress tab shows statistics for this facility, to encourage healthcare workers in their work.

---

<% current_page.data.screens.each do |screen| %>
    <a href="/images/screens/<%= screen.img %>" class="mobile-screen-wrapper">
        <span class="title"><strong><%= screen.title %></strong></span>
        <span class="mobile-screen" style="background-image: url(/images/screens/<%= screen.img %>);"><span class="mobile-screen-overlay"></span></span>
        <span class="desc"><%= screen.caption %></span>
    </a>
    
<% end %>

<br style="clear: both;">