---
title: / Simple App for Healthcare Workers
social: social-2-5.jpg
---


<h2>Simple app for<br>healthcare workers</h2>
<p>An <a href="https://medium.com/simple-dot-org/simple-wins-best-in-show-at-the-ixda-awards-in-milan-a1c3a30a7d30">award-winning</a> Android app for healthcare workers to manage their patients with high blood pressure.</p>
<p>At every visit, a healthcare worker records the patient's BP and medicines, to create a useful longitudinal record for patient care <i>and</i> to monitor an NCD program overall.</p>

<a href="https://play.google.com/store/apps/details?id=org.simple.clinic.staging" class="button button-play"><img src="/images/googleplay.png" alt=""> Install the demo</a>        
<a href="#videos" class="button button-play"><img src="/images/youtube.png" alt=""> Watch a video</a>

<h3>What's special about Simple?</h3>
      <p>Simple is free, fast, easy to learn, and quick to deploy:</p>
      <div class="howitworks howitworks-left">
        <a href="/images/screen-bp.png"><a href="/images/screen-bp.png"><img src="/images/screen-bp.png" alt=""></a></a>
        <div>
            <h5>Record a BP in under 20 sec</h5>
            <p>Simple is fast and fits into most workflows, so healthcare workers spend more time with patients and less time doing data entry. A healthcare worker can record a visit with BP and medications in less than 20 seconds.</p>
        </div>
      </div>
      
      <div class="howitworks howitworks-right">
        <a href="/images/screen-search.png"><img src="/images/screen-search.png" alt=""></a>
        <div>
            <h5>Easy to learn</h5>
            <p>Because it's so simple, healthcare workers can learn Simple in the field in less than 2 hours. We regularly train users on-location in hospitals to use Simple right away.</p>
        </div>
      </div>

      <div class="howitworks howitworks-left">
        <a href="/images/screen-summary.png"><img src="/images/screen-summary.png" alt=""></a>
        <div>
            <h5>BP history is simply displayed</h5>
            <p>A patient's BP history is displayed simply, so nurses and doctors can scan it in a busy care environment. We will add graphing of BPs soon.</p>
        </div>
      </div>
      
      <div class="howitworks howitworks-right">
        <a href="/images/screen-schedule.png"><img src="/images/screen-schedule.png" alt=""></a>
        <div>
            <h5>Follow-up with every patient</h5>
            <p>It's very important for patients to return to the facility for treatment on a regular schedule. Scheduling follow-ups is easy and the patient will receive text message reminders to return to care.</p>
        </div>
      </div>

      <div class="howitworks howitworks-left">
        <a href="/images/screen-overdue.png"><img src="/images/screen-overdue.png" alt=""></a>
        <div>
            <h5>Remind overdue patients to return</h5>
            <p>If a patient misses their follow-up visit, Simple will add them to an easy-to-use overdue list. Any staff member can call the patient and Simple hides their phone number from the patient.</p>
        </div>
      </div>

      <div class="howitworks howitworks-right">
        <a href="/images/screen-connection.png"><img src="/images/screen-connection.png" alt=""></a>
        <div>
            <h5>Offline first, high performance</h5>
            <p>The app works great in places with unreliable connectivity and where a healthcare worker may be offline for days at a time. Simple works fast offline and data is synced whenever the user’s internet is active.</p>
        </div>
      </div>

      <div class="howitworks howitworks-left">
        <a href="/images/screen-devices.png"><img src="/images/screen-devices.png" alt=""></a>
        <div>
            <h5>Use any Android device</h5>
            <p>Simple works on either personal phones or on clinic-owned tablets. The app has a small footprint, under 20MB, and is light on data usage. Simple works on any modern Android phone or tablet, version 5 or above, so you can get started with hardware already on hand.</p>
        </div>
      </div>
      
      <div class="clear"></div>

<h3 style="margin-top: 5em;" id="videos">Video</h3>
      
      <div class="videowrapper" style="margin: 2em 0 1em 0;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/YjfPCUtZHlI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>This video was created for healthcare workers in India who use Simple. It explains the core functions of Simple in 5 minutes.</p>
      
<h3 style="margin: 5em 0 1em 0;">Features</h3>
<%= t(:features) %>