---
title: Simple Dashboard
social: social.jpg
---


<h2>Simple dashboard for health system monitoring</h2>
<p>The web-based dashboard is designed to give regional health leaders the tools they need to monitor an non-communicable disease program. Surveillance teams can conduct day-to-day management of activities and higher level monthly and quarterly reports give managers a high level view of progress.</p>
<ul>
    <li>Daily, monthly, and quarterly reports</li>
    <li>Hypertension control</li>
    <li>Registrations</li>
    <li>Follow-up rates</li>
    <li>Overdue patient lists</li>
    <li>Treatment inertia</li>
    <li>Secure</li>
    <li>Role-based access levels</li>
</ul>

<h3>Regional reports</h3>
<p>View monthly and quarterly reports of hyprtension control metrics across a district or state. Compare the facilities to see where your hypertension program is working and where it can be strengthened.</p>

<h3>Facility reports</h3>
<p>Monitor individual facilities and benchmark facilities against each other. Facility reports give each hospital's team a view into their success in managing their patients with hypertension.</p>

<h3>Download patient line lists</h3>
<p>You own your own data. Download your data to run custom reports or work in Excel.</p>

<h3>Monitor overdue patients</h3>
<p>The dashboard gives you tools to generate lists of patients who have missed follow-up visits. Send community health workers to conduct in-person follow-ups, create call lists, or manage a call center to follow-up with patients.</p>

<h3>Manage your program</h3>
<p>The dashboard also includes administration features for adding new facilities, approving users, managing common medications for the Simple app, etc.</p>

<p style="padding-bottom: 200px;"></p>