---
title: Terms of Service
social: social.jpg
---


      <h2>
        Terms of Service: Simple App
      </h2>

    <p>The following are the terms of service for use of the Simple App (“the app”) and apply to all users of the app. Use of the website (simple.org) is subject to our <a href="/simple-privacy">Privacy Policy</a>.</p>

    <h3>Patient Consent</h3>
    <p>By using the app you confirm that any patient data you enter into the app has been obtained under appropriate informed consent. This means that the patient knows that you are entering their personal data into the app, understands what data is being collected, and knows that they may be contacted via SMS, WhatsApp, or other methods using the phone number provided in the app.</p>

<p>Patient data and privacy is protected by the use of safeguarding technology and be restricting user access. More information can be found <a href="/simple-privacy">here</a> and in our <a href="https://www.simple.org/digitalprinciples/">Digital Principles</a>.</p>

    <h3>Your Use of Simple</h3>
    <p>Simple is an Open Source platform and we encourage users to help us improve the app. However, you may not use the app for any malicious or illegal purposes. You may not do anything to interfere with the use of the app by others or to impair the intended operation of the app. You may not use the app to try and unauthorizedly obtain data or information. You also may not use the app, the Simple name and logo, or any other intellectual property related to the app without proper attribution.</p>

    <h3>Code of Conduct</h3>
    <p>All users of the app agree to follow the principles set forth in the <a href="https://docs.simple.org/code-of-conduct">Simple Code of Conduct</a> and to be a positive contributor to the app.</p>

    <h3>Our Use of Your Data</h3>
    <p>We will not sell any information we collect about you or your use of the app. By using the app, you agree to allow us to gather information about your use, such as time spent on the app, location information, and login information. This data will be used internally to improve the app and aggregate information about users may be shared or published publicly. We keep private all individual-level information about you as a user, such as your username.</p>

    <h3>Disabling or Terminating Your Account</h3>
    <p>If we believe you have violated any of the Terms of Service or have otherwise misused the app, your account may be deleted without warning. We may also refuse your creation of an account at our discretion.</p>

    <h3>Dispute Resolution</h3>
    <p>The app is provided "as is," and we can't guarantee it will be safe and secure or will work perfectly all the time. TO THE EXTENT PERMITTED BY LAW, WE ALSO DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. Our aggregate liability to you arising out of these terms or any related terms is limited to $100 or the amount you have paid to us in the past 12 months.</p>

    <p>If you have any disagreement about the application of these terms or other rules for use of the app, you may contact us. You agree to work towards an amicable and mutual resolution of any concern or disagreement. In the event that we cannot agree on a resolution of a dispute, you agree to have the dispute resolved through arbitration by an agreed upon arbitrator. The result of any arbitration shall be considered binding and final. <a href="https://docs.simple.org/contact">https://docs.simple.org/contact</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>