---
title: "Training, the Simple way"
date: "2019/10/04"
reading_time: "4"
cover_image_path: "/images/blog/training-the-simple-way/cover.jpg"
cover_image_alt: "Training video for Simple"
intro: "We experimented with several training methods: a short video combined with in-person support works best for us"
author: "Deepa Venkatraman"
author_image_path: "/images/blog/authors/deepa_venkatraman.jpg"
author_social_link: "https://twitter.com/deepa_v"
author_details: "Project management, India"
---

<div class="article-content">
  <div class="video">
    <div class="video-wrapper">
      <iframe
        class="video-iframe"
        src="https://www.youtube.com/embed/YO3D1paAuqU"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      ></iframe>
    </div>
    <h4 class="video-caption">
      English version of the training video for Simple (available in multiple languages)
    </h4>
  </div>
  <section>
    <p>
      One year ago (in October 2018), we piloted the <a href="https://simple.org">Simple</a> app in five public health facilities in Punjab, India. The original process of teaching healthcare workers to use Simple in pilot hospitals involved in-person trainings from members of our team. We flew from Bangalore to Bathinda, spent a week visiting one facility each day, and taught healthcare workers how to use the app. We’ve come a long way since then. 
    </p>
    <p>
      Simple is now used in over four hundred health facilities in two states. Intensive in-person training is hard to scale, so we had to figure out how to make it easier.
    </p>
    <p>
      Most other clinical software requires significant investment in training. One goal of Simple is to be able to get a healthcare worker up and running with minimal assistance, within an hour of installing the app. It’s a high bar, so we tried many approaches to explain Simple to our users.
    </p>
    <p>
      In brief: A short, instructional training video with examples worked best by a long shot, but here are some other ideas we tried.
    </p>
  </section>
  <section>
    <h2>
      Tour on the home screen
    </h2>
  </section>
  <div class="image--wide">
    <img
      src="/images/blog/training-the-simple-way/first-attempt-at-onboarding.png"
      alt="First attempt at onboarding users"
    >
    <h4>
      First attempt at onboarding users
    </h4>
  </div>
  <section>
    <p>
      When our user tester <a href="https://twitter.com/tanushree">Tanushree Jindal</a> watched users trying the app for the first time, she observed that most users went straight for the “Get started” button, without scrolling through the screenshots that we had put together. Not great.
    </p>
  </section>
  <section>
    <h2>
      Paper training handbooks
    </h2>
    <p>
      We created a quick handbook that we could leave behind at in-person trainings. The handbook was pretty helpful, but keeping it updated was a challenge. Besides, they were not easily accessible unless we hand-delivered them.
    </p>
  </section>
  <div class="image--contain">
    <img
      src="/images/blog/training-the-simple-way/training-manuals.jpg"
      alt="Training manuals"
    >
    <h4>
      Training manuals
    </h4>
  </div>
  <section>
    <h2>
      Coach marks!
    </h2>
    <p>
      We then came up with the idea of using ‘coach marks’ to guide the user through the functions of the app. Maybe we could introduce each feature contextually to our users?
    </p>
  </section>
  <div class="image--contain">
    <img
      src="/images/blog/training-the-simple-way/coach-marks.png"
      alt="Coach marks to contextually introduce new features"
    >
    <h4>
      Coach marks to contextually introduce new features
    </h4>
  </div>
  <section>
    <p>
      We ran extensive usability tests with nurses and realised that there were simply too many coach marks to read. Coach marks were either ignored or got in the way. This didn’t work well either.
    </p>
  </section>
  <section>
    <h2>
      A simple video worked best
    </h2>
    <p>
      During field visits, we identified that a brief, engaging training video with demonstrations could have a lot of impact. So we quickly recorded a friendly video where we enacted the key activities in Simple. This worked really well during user tests and we learned:
    </p>
    <ul>
      <li>
        Almost all healthcare workers watched the video
      </li>
      <li>
        After 5 minutes, users became restless and lost interest
      </li>
      <li>
        After watching the video, users could explain the app back to us
      </li>
      <li>
        Nurses felt relatively confident that they could use the app after watching the training video
      </li>
    </ul>
    <p>
      We edited the original video down to a crisp 5-minute film that showed a healthcare worker (me!) caring for a patient with hypertension at their clinic. This really hit home, as it was a very relatable setting for the primary users of our app.
    </p>
    <p>
      We plan to make the recording available in multiple regional languages, so users can watch it in the language of their choice.
    </p>
  </section>
  <section>
    <h2>
      Where we are now
    </h2>
    <p>
      Today, the video is part of our short, in-app onboarding process for Simple. A nurse or a doctor can install the app from the Play Store, watch the training video as part of the registration flow, and learn how to use Simple.
    </p>
    <p>
      The video is always available inside the app, within the built-in HELP section. One key benefit is that the video is nice, but not too fancy. As Simple evolves, we can easily replace it with an updated film that is more relevant.
    </p>
  </section>
  <div class="image--wide">
    <img
      src="/images/blog/training-the-simple-way/current-onboarding-flow.png"
      alt="Current onboarding flow"
    >
    <h4>
      Current onboarding flow
    </h4>
  </div>
  <section>
    <p>
      In addition to users, trainers have given us very positive feedback on the video, as it has proven to be a valuable tool for in-person trainings. Program managers, who go to the point of care to guide users on how the India Hypertension Control Initiative program should be implemented, play the video to demonstrate how Simple fits into the clinic workflows.
    </p>
  </section>
  <div class="image--wide">
    <img
      src="/images/blog/training-the-simple-way/trainers-and-users.png"
      alt="What trainers and users have to say about the video"
    >
    <h4>
      What trainers and users have to say about the video
    </h4>
  </div>
  <section>
    <h2>
      What's next?
    </h2>
    <p>
      Our takeaway from this exercise? Every mode of training had merits, but a contextual demonstration is a powerful tool that seems to hold a user’s attention. We have since recorded a few other videos that demonstrate specific flows in the app, and these have been received with equal enthusiasm.
    </p>
    <p>
      The goal for the program is for it to eventually be entirely self-sufficient. We believe that by empowering users to teach themselves, we are taking the first important steps in that direction.
    </p>
  </section>
  <div class="separator"></div>
  <section>
    <h2>
      Credits
    </h2>
    <p>
      Thanks to <a href="https://twitter.com/dburka">Daniel Burka</a> for scripting the first draft, and Anand Rama Krishnan for making us look good in the video. Also, thank you to <a href="https://twitter.com/_akshayverma_">Akshay Verma</a> and <a href="https://twitter.com/tanushree">Tanushree Jindal</a> for user testing in the field. :)
    </p>
  </section>
  <div class="separator"></div>
  <div class="image--contain">
    <img
      src="<%= current_page.data.cover_image_path %>"
      alt="<%= current_page.data.cover_image_alt %>"
    >
    <h4>
      <%= current_page.data.cover_image_alt %>
    </h4>
  </div>
</div>