---
title: "A day in the life"
date: "2019/10/10"
reading_time: "4"
cover_image_path: "/images/blog/a-day-in-the-life/cover.jpg"
cover_image_alt: "Action shot of a patient named Harnanth Singh who offered to share his story"
intro: "Simple is completing it's first launch anniversary. Here is the story of how a nurse is using it to save lives."
author: "Akshay Verma"
---

<div class="video">
  <div class="video-wrapper">
    <iframe
      class="video-iframe"
      src="https://www.youtube.com/embed/C26CoyeExmU"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    ></iframe>
  </div>
</div>
<section>
  <p>
    On this day last year, I was sitting in a car driving down a beautiful rural road in Punjab, India, through a long tunnel of trees with rice paddies on either side. We were headed towards a public hospital and my teammates and I were anxious and excited since it was the first time that the Simple app was going to be deployed for real in a clinic. Would the app perform well? Would the clinicians accept it?
  </p>
  <p>
    This was not my first time arriving at a hospital on this project. During the early development phase of Simple, we visited clinics many times to test prototypes. This time, though, it felt different. We had a beta version of our new Android app and we planned to install it on clinicians’ smartphones. It was the <dfn>very first time</dfn> the Simple app would be used in a live clinical environment to record real patient data and our software was competing with the tools that our users were already super familiar with — pen and paper.
  </p>
  <p>
    Keep in mind that on a typical day at a public health facility in India, a clinician sees over a hundred patients (average consultation times are less than 5 minutes). If Simple was going to be successful, it not only had to be as intuitive as pen and paper, but also had to be a lot quicker, which is a huge challenge.
  </p>
  <p>
    That first deployment went really smoothly. The nurse and doctor picked up the concept quickly. The app performed well. We breathed a sigh of relief.
  </p>
</section>
<div class="image--contain">
  <img
    src="/images/blog/a-day-in-the-life/a-doctor-recording-patient-visits.jpg"
    alt="A doctor recording patient visits using Simple"
  >
  <h4>
    A doctor recording patient visits using Simple
  </h4>
</div>
<section>
  <p>
    During October, 2018, we deployed Simple in 20 more clinics. A WhatsApp group kept us in touch with our early users and helped us maintain a short feedback loop to uncover and fix issues. It was inspiring to see how quickly nurses and doctors got accustomed to using Simple to record patients and how the app could help them recover hours of their precious time. Before Simple, clinicians spent a couple of minutes just to find each patient’s paper treatment card from a stack of hundreds, but now users only had to enter a patient’s name into the app to look up their record. Simple reduced the time to record a patient from 4–5 minutes to about 45 seconds.
  </p>
  <p>
    Over the last year, we made frequent, iterative improvements. We prototyped and tested constantly. And, we released new versions about every two weeks. In May, we introduced a scannable user ID called a “BP Passport” which has reduced data entry time to 24 seconds on average. Clinicians can now spend more time actually treating and counseling patients, rather than recording data.
  </p>
</section>
<div class="image--contain">
  <img
    src="/images/blog/a-day-in-the-life/time-spent-in-simple.png"
    alt="Table of metrics Simple team uses to assess app's performance"
  >
</div>
<section>
  <p>
    One year after launch, Simple is used in over 400 hospitals and clinics to manage over 145,000 patients. To celebrate this one-year milestone and to acknowledge the work of healthcare workers who are doing the hard work of treating patients, we created <a href="https://www.youtube.com/watch?v=C26CoyeExmU">a short film</a> that tells the story of a day in the life of Bhupinderjeet Kaur, a nurse at Sub-district Hospital Batala in Punjab. Nurse Kaur uses Simple to manage her patients with hypertension and she takes a lot of pride in playing her part in reducing deaths from heart attacks and strokes in her village.
  </p>
  <p>
    In 2020, we anticipate that Simple will be deployed in many more hospitals across other Indian states and we will start deployments in several other countries soon.
  </p>
  <p>
    🎬 <a href="https://www.youtube.com/watch?v=C26CoyeExmU">Watch the video</a>
  </p>
  <p>
    🔗 <a href="https://simple.org/">Learn more about Simple...</a>
  </p>
</section>
<div class="separator"></div>
<section>
  <ul>
    <li>
      <dfn>
        Nurses Bhupinderjeet Kaur and Ranjit Kaur for letting us follow them around and shoot them for two days.
      </dfn>
    </li>
    <li>
      <dfn>
        Harnanth Singh, for inspiring us with the story of his hypertension treatment and for allowing us to shoot at his beautiful farm.
      </dfn>
    </li>
    <li>
      <dfn>
        <a href="https://twitter.com/gbsingh410">Dr G.B. Singh</a>, Assistant Director, Punjab Health Department.
      </dfn>
    </li>
    <li>
      <dfn>
        Everyone who works as part of the India Hypertension Control Initiative. IHCI is a multi-partner, 5-year initiative between the <a href="https://mohfw.gov.in/">Ministry of Health & Family Welfare</a>, <a href="https://www.icmr.nic.in/'">Indian Council of Medical Research</a>, State Governments and <a href="http://who.int/">WHO</a> Country Office for India. <a href="http://resolvetosavelives.org/">Resolve to Save Lives</a> (an Initiative of <a href="http://vitalstrategies.org/">Vital Strategies</a>) is an international technical partner.
      </dfn>
    </li>
    <li>
      <dfn>
        <a href="https://twitter.com/dburka">Daniel Burka</a> for script writing and for editing this article.
      </dfn>
    </li>
    <li>
      <dfn>
        <a href="https://www.instagram.com/anandrkrishnan">Anand Rama Krishnan</a> for tirelessly shooting and editing this film 🙌.
      </dfn>
    </li>
  </ul>
</section>
<div class="image--contain">
  <img
    src="/images/blog/a-day-in-the-life/behind-the-scenes.jpg"
    alt="Behind the scenes with Harnanth Singh and Nurse Ranjit Kaur"
  >
  <h4>
    Behind the scenes with Harnanth Singh and Nurse Ranjit Kaur
  </h4>
</div>
<div class="image--contain">
  <img
    src="<%= current_page.data.cover_image_path %>"
    alt="<%= current_page.data.cover_image_alt %>"
  >
  <h4>
    <%= current_page.data.cover_image_alt %>
</div>