---
title: "Hiring: Ruby on Rails Developer"
date: "2020/11/04"
reading_time: "5"
cover_image_path: "/images/blog/rails/cover.jpg"
cover_image_placeholder_path: "/images/blog/rails/cover-placeholder.jpg"
cover_image_alt: "A train in India"
intro: "We are hiring a full-time Rails developer to work on the open source Simple.org project"
author: "Tim Cheadle"
published: true
---

<section>
  <p class="card-info">
    This position is currently filled. Thanks for your interest!
  </p>
</section>
<section>
  <p>
    <a href="https://www.simple.org/"><b>Simple</b></a> is a free, open source app developed by <a href="https://www.resolvetosavelives.org/">Resolve to Save Lives</a> (an initiative of <a href="http://vitalstrategies.org/">Vital Strategies</a>) and is used by nurses, doctors, and population health experts to improve treatment for patients with high blood pressure.
  </p>
  <p>
    Simple is currently used in several states of India as well as in Bangladesh and soon Ethiopia. It is used to manage over 350,000 patients in about 1000 hospitals. Our goal is to save 100 million lives from heart attacks and strokes (<a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(17)32443-1/fulltext">The Lancet</a>).
  </p>
  <p>
    Learn more about the Simple project at <a href="https://www.simple.org/">Simple.org</a> and in <a href="https://www.simple.org/blog/what-we-are-learning">this article</a>.
  </p>
</section>
<section>
  <h2>
    About the role
  </h2>
  <p>Simple is software that saves lives. Built using Ruby on Rails, Simple provides a web dashboard to healthcare workers and public health experts, enabling them to see where and how people are getting healthier. This dashboard is critical to helping improve blood pressure control rates across large populations, but also provides detailed information to help improve individual clinics.</p>
  <p>Our Rails backend also provides a sync API to Simple’s Android app, allowing our offline-first design to work in clinics with limited network access. While this offers a unique set of challenges, it’s what makes our app fast and reliable for nurses every day.</p>
  <p>We’re hiring a full-time Rails developer to help us add features to the Rails application and improve the APIs powering Simple. This includes:</p>
  <ul>
    <li>Delivering fast, simple software used by nurses in clinics every day</li>
    <li>Working on solutions for hundreds of millions of patients</li>
    <li>Building holistic products with empathy, not just writing code</li>
    <li>Contributing to an open source project used in multiple countries</li>
    <li>Collaborating closely with a talented, international team of Android and Rails developers as well as designers</li>
    <li>Supporting an offline-first app, including the challenges of navigating a distributed system</li>
    <li>Managing deployments in cloud and on-premise environments</li>
    <li>Ensuring patient privacy and data security</li>
  </ul>
  <p>You will help extend our API to allow for new features and apps, secure our application to meet security best practices, and ensure that our Rails app is reliable, scalable, and easy to modify. Our code has grown quickly, and you will help make sure that we keep complexity down, clean up technical debt as needed, and write code that doesn’t require extensive commenting and explanation.</p>
  <p>User experience is critical to our success, so you will be working with our design team to make sure that we’re iterating quickly, as getting health data into official hands will help save lives. Our app needs to be easy to understand, for users and developers. Your work will have a real, tangible impact on peoples’ lives.</p>
</section>
<section>
  <h3>Key responsibilities</h3>
  <p>Here are some example projects that give you some idea of what’s in store:</p>
  <ul>
    <li>Crafting dashboard charts and data that provide public health experts with a clear story of how patients and clinics are doing</li>
    <li>Adding two-factor auth support for our web app users</li>
    <li>Collaborating with our Android team to profile API endpoints and improve their performance</li>
    <li>Adding an A/B testing framework for making the most effective reminders for patients to continue care</li>
    <li>Ensuring admin tools for adding users and facilities are functional and easy to use</li>
    <li>Improving how our app is deployed in AWS, on-premise servers in government data centers, and in other third-party cloud services</li>
  </ul>
</section>
<section>
  <h3>Length of contract</h3>
  <p>12 months with potential for extension.</p>
</section>
<section>
  <h3>About you</h3>
  <p>We are seeking an experienced candidate who is ready to do work that matters. The ideal candidate embraces learning about our challenges, has solved Rails app-related challenges (especially at scale), and can work effectively with our entirely remote team.</p>
  <p>We’re keen to find someone for whom these problems look pretty familiar. We don’t want a specialist, but instead someone who is just as comfortable slinging ERB views as they are digging into writing query classes and debugging Rails routing errors. Critically, we also want someone who is curious, writes and communicates well, anticipates user needs from a human level, and always looks to keep things simple and iterate. We’re looking for someone who can self-manage, plans their time wisely, and delivers straightforward solutions to vague problems.</p>
</section>
<section>
  <h3>Mindset</h3>
  <p>We try hard to be a team full of empathy, inclusion, and respect. We trust each other, have hard conversations with open mindedness, and assume positive intent. We document as much as possible, work as asynchronously as possible, and meet via video conference when necessary. Proposing ideas and trying new things are paramount; always being right is not. We are frequently wrong and try to write code that we don’t mind deleting when we learn new things. We’re excited for you to participate and look forward to helping you grow your own skills as well.</p>
</section>
<section>
  <h3>Diversity</h3>
  <p>Given that we’re writing software for the globe, it’s critical that our team represent the diverse environments in which we operate. We strive for an inclusive, diverse team with different perspectives, ideas, and identities.</p>
</section>
<section>
  <h3>Required qualifications</h3>
  <ul>
  <li><b>Experience:</b> Very fluent with Rails development and supporting user-facing and API components. Experience with devops and production deployment is a plus.
  Education: As for your specifics, a CS degree is not required, nor do we require a certain number of years of experience. What really matters is how you got here, why you want to be here, and what you can do.</li>
  <li><b>Availability:</b> You’re free to work when you want, provided that you can overlap and collaborate with the team as needed. That said, we understand that staying up all night does not lead to great work.</li>
  <li><b>Balance:</b> We work hard, but we also make sure you feel supported.</li>
  </ul>
</section>
<section>
  <h3>Location</h3>
  <p>This is a remote position. Our team spans the US east coast (EST) and India (IST) time zones, and overlapping with our teams makes things much easier. To expand our team’s time coverage, we’re looking for someone between EST and UTC+1 time zones (US East Coast, Europe, West Africa, etc.) You also must have reliable, consistent access to a network for frequent online collaboration.</p>
</section>
<section>
  <h2>
    How to apply?
  </h2>
  <p>
    Please take the time to describe yourself and why you’ll be a great fit for this project. We encourage people of under-represented backgrounds to apply even if you took an unconventional path to become a developer.
  </p>
  <a href="https://phg.tbe.taleo.net/phg01/ats/careers/v2/viewRequisition?org=VITASTRA&cws=37&rid=152">
    <b>👉 Submit your application here…</b>
  </a>
</section>
<section>
  <h3>
    Questions?
  </h3>
  <p>
    Please ask questions by direct messaging me on Twitter: <a href="<%= current_page.data.author_social_link %>">twitter.com/timcheadle</a>
  </p>
</section>
