---
title: "Philomina, a staff nurse in India, explains how she uses Simple"
date: "2020/10/15"
reading_time: "3"
cover_image_path: "/images/blog/testimonial-simple/cover.jpg"
cover_image_placeholder_path: "/images/blog/testimonial-simple/cover-placeholder.jpg"
cover_image_alt: "Philomina, a staff nurse in India, holding her Android phone and explains Simple"
intro: "We received this wonderful testimonial, recorded by a staff nurse in Maharashtra."
author: "Daniel Burka"
---

<section>
  <p>Today, Simple is deployed in over a thousand hospitals in India and Bangladesh. Each day, thousands of patients with hypertension have their BPs entered into the app by hardworking nurses like Philomina Rocky D'Souza. She is an NCD staff nurse at PHC Nirawade, District Sindhudurg, Maharashtra. The India Hypertension Control Initiative is really only a success thanks to the hard work of healthcare workers like Philomina.</p>
  <p>Philomina recently sent us this wonderful video where she explains how she uses Simple to manage her patients with hypertension. She can easily monitor her patients and her facility's progress at managing hypertension in her community.</p>
</section>
<div class="video">
  <div class="video-wrapper">
    <iframe
      class="video-iframe"
      src="https://www.youtube.com/embed/srAXjj5XFvI"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    ></iframe>
  </div>
</div>
<section>
<h3>Thank you</h3>
<p>Thank you to Philomina for sharing her experience with us. And thank you to all of the healthcare workers who put in enormous effort to manage non-communicable diseases. Technology isn't a solution to NCDs &#8212; technology is only a tool. It is the hard work of nurses, doctors, and community health workers that is essential to saving lives from heart attacks and strokes. A sincere thank you for everything you do.</h3>
<p>Thank you to </p>
</section>
