---
title: "BP Passport app for patients"
date: "2020/07/14"
reading_time: "3"
cover_image_path: "/images/blog/bp-passport-app/cover.jpg"
cover_image_placeholder_path: "/images/blog/bp-passport-app/cover-placeholder.jpg"
cover_image_alt: "Action shot of a patient named Harnanth Singh who offered to share his story"
intro: "The world's simplest personal hypertension charting app"
author: "Mahima Chandak"
---

<section>
  <p>
    Patients are at the center of an effective <a href="https://resolvetosavelives.org/hypertension">hypertension management program</a>. In a place like India, we know that patients fluidly move through the healthcare ecosystem. A patient might be registered at a large government hospital, then visit a private doctor in their village next month, and follow-up for care at a local government clinic later in the year.
  </p>
  <p>
    In a patient-centric program, a patient can manage their own health record and get excellent care no matter where they go for care.
  </p>
  <p>
    We made a very basic app for patients, called the <a href="https://www.simple.org/bp-passport/">BP Passport app</a>. The BP Passport app is simple enough for any smartphone owner to use and connects the patient to their own record in the public health program so they can carry it with them no matter where they go.
  </p>
</section>
<section>
  <h2>
    Manage your health, the simple way
  </h2>
  <p>
    The BP Passport app is radically simple. There are many apps available to track your blood pressure, but none are designed to be easily used by patients in rural India or Bangladesh, who may not know much about hypertension or about downloading and using apps. The app only does a few things:
  </p>
  <ul>
    <li>
      Charts your blood pressures and blood sugars
    </li>
    <li>
      Reminds you to take medications on time
    </li>
    <li>
      Helps you learn about managing hypertension
    </li>
  </ul>
</section>
<section>
  <h3>
    Chart blood pressures and blood sugars
  </h3>
  <p>
    Patients rarely read their own health records. On paper, they’re often hard to understand and are stored at the facility where care was given. The BP Passport app has simple language and easy to read charts, so that patients and their caregivers can easily engage with their health data.
  </p>
  <div class="image--contain">
    <img
      class="lazyload"
      src="/images/blog/bp-passport-app/charts-placeholder.jpg"
      data-src="/images/blog/bp-passport-app/charts.jpg"
      alt="Mobile devices showing a list of BPs and a graph of a user's BP trend"
    >
  </div>
</section>
<section>
  <h3>
    Timely reminders for medication
  </h3>
  <p>
    Medication adherence is very important in managing hypertension and diabetes. But, it’s hard to consistently remember to take your daily medicines. The BP Passport app sends reminders to take your medications.
  </p>
  <div class="image--contain">
    <img
      class="lazyload"
      src="/images/blog/bp-passport-app/medicine-reminders-placeholder.jpg"
      data-src="/images/blog/bp-passport-app/medicine-reminders.jpg"
      alt="Mobile devices showing a medicine reminder screen and a notification reminding a user to take their medicine"
    >
  </div>
</section>
<section>
  <h3>
    Tips on managing hypertension
  </h3>
  <p>
    Hypertension can be impacted by lifestyle changes. The app teaches a few simple ways that patients can improve through healthy changes.
  </p>
  <div class="image--contain">
    <img
      class="lazyload"
      src="/images/blog/bp-passport-app/health-reminders-placeholder.jpg"
      data-src="/images/blog/bp-passport-app/health-reminders.jpg"
      alt="Mobile devices showing a medicine reminder screen and a notification reminding a user to take their medicine"
    >
  </div>
</section>
<section>
  <h2>
    Available in local languages
  </h2>
  <p>
    There are very few hypertension management apps available in languages that are spoken by hundreds of millions of people.
  </p>
  <p>
    The BP Passport app is currently available in six languages: Bangla, English, French, Hindi, Marathi, and Spanish. In the next few weeks, it will also be available in Amharic, Bengali, Kannada, Marathi, Oromo, Tamil, Telugu, and Tigrinya.
  </p>
  <div class="quote">
    <p>
      I barely use my phone because everything in here is in English. The best part about this app is that it is available in Hindi. I can easily read, write and understand things here.
    </p>
    <p>
      54-year old hypertensive patient from Madhya Pradesh, India
    </p>
  </div>
</section>
<section>
  <h2>
    Part of a hypertension program
  </h2>
  <p>
    The BP Passport app can be used all on its own or it can be integrated into a hypertension program with the Simple app for clinicians.
  </p>
  <p>
    If patients are enrolled in a hypertension program, like the India Hypertension Control Initiative or the National Heart Foundation program in Bangladesh, the patient can scan their paper ID card and connect it to their existing health record. Any time that the patient gets a BP or diabetes measure at their local hospital, their reading will automatically be synced to their BP Passport app.
  </p>
</section>
<section>
  <h3>
    Available on Android and iOS
  </h3>
  <p>
    Download the app from your <a href="https://play.google.com/store/apps/details?id=org.simple.bppassport">Play Store</a> or <a href="https://apps.apple.com/us/app/bp-passport/id1510811893">App Store</a>.
  </p>
  <p>Learn more about the <a href="https://www.simple.org/bp-passport/">BP Passport app</a></p>
</section>