---
title: "Simple + Bangladesh"
date: "2020/02/25"
reading_time: "2"
cover_image_path: "/images/blog/simple-and-bangladesh/cover.jpg"
cover_image_alt: "An image gallery of people using Simple"
intro: "Simple is now deployed in hospitals in northern Bangladesh as well as in many hospitals in India." 
author: "Tanushree Jindal"
author_image_path: "/images/blog/authors/tanushree_jindal.jpg"
author_social_link: "https://twitter.com/tanushree"
author_details: "User testing, India"
---

<section>
  <p>
    We are very excited this week that <a href="https://simple.org/"Simple</a> was deployed in for the first time outside India. This week, we launched Simple in four large Upazila Health Complexes in Sylhet in northern Bangladesh.
  </p>
  <p>
    Nurses and doctors in Bangladesh often see an extraordinary number of patients each day. In fact, Bangladesh has some of the fastest, highest volume primary care in the world (<a href="https://bmjopen.bmj.com/content/7/10/e017902">1</a>). It’s common to see a long line of patients waiting to have their blood pressures taken and to pick up medications to manage their hypertension.
  </p>
  <p>
    In this environment, it’s critical that record-keeping be very <dfn>efficient</dfn> so nurses and doctors can focus on patient care. This is where Simple comes in. At fast-paced hospitals, clinicians can spend less time recording patient details on paper and quickly create and maintain longitudinal records that improve care.
  </p>
  <div class="quote">
    <p>
      Today, Simple is active in many hospitals in India and now 4 large sub-district hospitals in Bangladesh. Simple is used to manage over 220,000 patients with hypertension.
    </p>
  </div>
  <p>
    In Bangladesh, we partner with the Government of Bangladesh (Non-Communicable Diseases Control Program, Directorate General of Health Services, Ministry of Health and Family Welfare) and the <a href="http://www.nhf.org.bd/">National Heart Foundation</a> of Bangladesh on a hypertension control initiative. Their program is a remarkable achievement that aims to significantly reduce deaths from heart attacks and strokes.
  </p>
</section>
<div class="image--wide">
  <img
    src="/images/blog/simple-and-bangladesh/staff-nurses-in-sylhet.jpg"
    alt="Staff nurses being trained to use Simple in Sylhet, Bangladesh"
  >
  <h4 class="image-description">
    Staff nurses being trained to use <a href="https://simple.org/">Simple</a> in Sylhet, Bangladesh
  </h4>
</div>
<div class="image--wide">
  <img
    src="/images/blog/simple-and-bangladesh/staff-nurses-using-simple.jpg"
    alt="Staff nurses using Simple for the first time"
  >
  <h4 class="image-description">
    Staff nurses using <a href="https://simple.org/">Simple</a> for the first time
  </h4>
</div>
<section>
  <p>
    To learn more, visit <a href="https://simple.org"><b>Simple.org</b></a>
  </p>
</section>