---
title: "Internship Openings in NYC"
date: "2020/11/04"
reading_time: "6"
cover_image_path: "/images/blog/internship/cover.jpg"
cover_image_placeholder_path: "/images/blog/internship/cover-placeholder.jpg"
cover_image_alt: "A member of the Simple team interviews a physician in India"
intro: "Join the Simple engineering or design team as an intern in 2021 to work on the Simple Dashboard."
author: "Daniel Burka"
published: false
---

<section>
  <p>We are hiring  an undergraduate engineer and a product designer in NYC to join the Simple team part-time. We strongly encourage applicants from non-traditional backgrounds to apply. This is a paid internship.</p>
  
    <p><a href="https://phg.tbe.taleo.net/phg01/ats/careers/v2/viewRequisition?org=VITASTRA&cws=37&rid=276">👉 Product design internship application</a></p>
    <p><a href="#">👉 Ruby on Rails engineering internship application</a></p>
  
  <p>The Simple project comes out of <a href="https://resolvetosavelives.org">Resolve to Save Lives</a>, an initiative of <a href="https://vitalstrategies.org">Vital Strategies</a>. At Resolve to Save Lives, we value learning and professional development, and the contributions of a diverse workforce. We believe it is important to mentor future leaders from underrepresented groups who will grow personally and professionally and create impact in the public health sector. Interns at Resolve to Save Lives will have the chance to develop skills and contribute to our initiatives through engaging, meaningful work assignments that can help jump start their career.</p>
</section>
<section>
  <hr>
  <h2>Product Design Intern</h2>
  
  <p>Join the Simple tech team as a Product Design Intern to improve the Simple Dashboard and help us save 100 million lives from cardiovascular disease. The Simple Dashboard is a responsive web app used by health officials in India, Bangladesh, and Ethiopia to monitor and manage hypertension control programs. The dashboard displays reports and has features to manage the hypertension program remotely.</p>
  
  <h3>Who you'll work with</h3>
  <p>You will work very closely with Claudio Vallejo (product designer) and Daniel Burka (director of design). Together you’ll collaborate with the rest of the Simple Team to improve the Dashboard experience.</p>
  
  <h3>What you’ll work on</h3>
  <p>You’ll improve the experience of the Simple Dashboard to make it easier for health officials to monitor and manage their hypertension control programs. You will be involved in web design, information design, user research, copywriting, and other aspects of product design. Working alongside you, we will define features, talk to ‘customers’, and design components of the Simple Dashboard. If you are interested and capable of writing front-end code, you could also be helping to implement features you have designed. You will design and ship real features that will be used by real healthcare workers and health system managers around the world.</p>
  
  <h3>Qualifications</h3> 
  <ul>
      <li>Undergraduate student</li>
      <li>Area of study: Computer science or design</li>
      <li>Portfolio of web design work</li>
  </ul>
  <h3>Internship details:</h3>
  <ul>
      <li>Up to 25 hours a week</li>
      <li>January through May 2021 with the possible option to renew, based on mutual agreement </li>
      <li>Internship will be based out of the New York office but will be remote while the office remains closed</li>
  </ul>
  <a href="https://phg.tbe.taleo.net/phg01/ats/careers/v2/viewRequisition?org=VITASTRA&cws=37&rid=276" class="button">Apply for product design internship</a>
</section>
<section>
  <hr>
  <h2>Ruby on Rails Intern</h2>
  <p>The engineering intern will be focused on the Simple project at Resolve to Save Lives. Simple is a digital tool that supports large-scale hypertension programs in India, Bangladesh, and Ethiopia. You will be particularly focused on the Simple Dashboard, which is used by health systems managers to monitor how their hypertension program is doing. <a href="https://www.simple.org/simple-dashboard/">Read more about the Simple Dashboard...</a></p>
  
  <p>You will be working with experienced Rails developers in the US and India to make improvements to the Simple Dashboard and to develop new features. You will ship real open source code that will benefit patients around the world.</p>
  
  <h3>Who you'll work with</h3>
  <p>You will work very closely with Rob Sonheim (Senior Rails developer) and Tim Cheadle (Dir of Engineering). You will also collaborate with our engineering colleagues Kitty, Prabhanshu, and Vikram in Bangalore, India, and the broader team of designers and Android developers.</p>
  
  <h3>What you’ll work on</h3>
  <ul>
  <li>Help to deliver features, fix bugs, and maintain our main Ruby on Rails application (https://github.com/simpledotorg/simple-server). This includes our admin dashboard, sync API, and various async jobs and tasks.</li>
  <li>Review engineering work, provide quality feedback, and give suggestions to your engineering peers</li>
  <li>Assist in QA (quality assurance) tasks</li>
  <li>Build out an acceptance test suite for our <a href="https://chart.js">charts.js</a> admin dashboards with a tool like <a href="https://www.cypress.io/">Cypress</a></li>
  <li>Work with our product and design team to iterate on product ideas. You will ensure that our user experience is high quality and simple to use for health professionals.</li>
  <li>Work closely with other engineers via remote pair-programming, code review sessions, and pull requests</li>
  </ul>
  
  <h3>Qualifications</h3> 
  <ul>
      <li>Undergraduate student</li>
      <li>Area of study: Computer science or computer engineering</li>
  </ul>
  <h3>Internship details:</h3>
  <ul>
      <li>Up to 25 hours a week</li>
      <li>January through May 2021 with the possible option to renew, based on mutual agreement</li>
      <li>Internship will be based out of the New York office but will be remote while the office remains closed</li>
  </ul>
  <a href="#" class="button">Apply for product design internship</a>
</section>