---
title: "1 million patients"
date: "2021/09/14"
reading_time: "2"
cover_image_path: "/images/blog/one-million-patients/cover.png"
cover_image_placeholder_path: "/images/blog/one-million-patients/cover-placeholder.jpg"
cover_image_alt: "1 million patients"
intro: "A million patients with hypertension and diabetes are being managed by clinicians using Simple in Bangladesh, Ethiopia, and India."
author: "Aarti Bhatnagar"
published: true
---

<section>
  <p>
    Earlier today, a healthcare worker at a rural clinic in India enrolled the millionth patient into the <a href="/simple-app">Simple app</a>. The app was first deployed in one small hospital in Punjab in late 2018, and now hard-working healthcare workers are managing patients across more than 4500 clinics in Bangladesh, India and Ethiopia.
  </p>
  <p>
    I’m gratified to know that this tech tool has made its way into some of the most remote facilities of these countries. What’s even more interesting is that Simple has strong acceptance among healthcare workers — all of whom are extremely busy with a lot on their plates already.
  </p>
  <p>
    The goal of Simple has always been to create a user-friendly tool to support large-scale public health programs like <a href="https://www.ihci.in/">IHCI</a>. The only way we could succeed is with the help and input of healthcare workers. I speak to many of you daily, and observe the effort that goes into implementing national health programs within the constraints of a busy clinic. I am continually astonished by the complexity of your roles. It is difficult to fathom how you can multitask between attending to patients during hectic OPD hours, conducting weekly health camps, attending regular trainings and meetings, maintaining manual and digital health records, creatively resolving low turnouts, while also continually staying motivated. Despite the challenges, I’m amazed to almost always hear friendly, helpful voices on the other end of the phone line, readily willing to share experiences and provide useful feedback and suggestions.
  </p>
  <p>
    I want to thank all of the patients, healthcare workers, trainers, surveillance officers, and the entire team at Simple who have contributed towards creating a tool that actually works. Enrolling 1 million patients is a key milestone for us all, and a good reminder that we have many more milestones lined up ahead. Together we can save many lives from preventable heart attacks and strokes.
  </p>
</section>