---
title: "Discuss: Tech can do many things — good and bad."
date: "2022/08/09"
reading_time: "2"
cover_image_path: "/images/blog/virtual-tech-talk/cover.png"
cover_image_placeholder_path: "/images/blog/virtual-tech-talk/cover-placeholder.jpg"
cover_image_alt: "Join us for a discussion about open source software in public health"
intro: "Join us to hear about how the Simple engineering team believes in and strives for technology for social good."
author: "Misu Tasnim"
published: true
---

<section>
  <p>We spent the last 4.5 years working on open source software tools that are used by tens of thousands of healthcare workers to help over 2.5 million patients around the world. And, we are excited about it! Come chat with us about how software development works on our team and discuss how open source software can help the world.</p>
  
  <p><b>When:</b> Thursday August 11, 2022 at 6:00pm - 7:30pm IST</p>
  
  <p><b>Where:</b> Virtual. <a href="https://forms.gle/3D2HT3aM8z7TimMu6">Sign up for Zoom link at this link</a></p>
  
  <p><b>Who:</b> Anyone interested in learning about:</p>
  <ul>
    <li>Technology for public health </li>
    <li>Open source software </li>
    <li>How to get involved with Simple.org </li>
    <li>New positions </li>
  </ul>
</section>
