---
title: "2 million patients"
date: "2022/05/02"
reading_time: "3"
cover_image_path: "/images/blog/two-million/cover.jpg"
cover_image_placeholder_path: "/images/blog/two-million/cover.jpg"
cover_image_alt: "Simple now has two million patients enrolled"
intro: "Simple just crossed a huge milestone: healthcare workers have now registered more than two million patients with hypertension and diabetes."
author: "Daniel Burka"
published: true
---

<section>
  <p>Last week, we crossed a huge milestone. A healthcare worker in India enrolled the two millionth patient into <a href="https://simple.org">Simple</a> as part of the <a href="https://ihci.in">India Hypertension Control Initiative</a>. Simple is now deployed in four countries: India, Bangladesh, Ethiopia, and Sri Lanka (the newest country to use Simple!) where thousands of healthcare workers are managing millions of patients with hypertension and diabetes.</p>
  <p>As you can see in the graph below, since the first pilot of Simple in Bathinda, Punjab, the growth of use has been phenomenal.</p>
  <p><a href="/images/blog/two-million/growth-chart.jpg"><img src="/images/blog/two-million/growth-chart.jpg" alt="A chart showing rapid growth of Simple." /></a></p>
  <p>Keep in mind that the true measure of a digital tool for managing hypertension and diabetes <i>isn't registrations</i> &#8212; the key metric is follow-up visits. Retention of patients with hypertension is hard since patients usually feel fine, so often drop off from care. Also, the more patients that are registered, the higher the monthly burden of care and of data recording for busy healthcare workers. This is where Simple truly shines.</p>
  <p><img src="/images/blog/two-million/visits.jpg" alt="860,822 patients had a clinical visit recorded in April 2022" /></p>
  <p>In just the month of April, healthcare workers recorded visits for over 800,000 patients. This is a remarkable achievement of the healthcare workers who do all of the hard work... and a good signal to our software team that Simple is actually easy enough to use at scale.</p>
  <p>Thank you so much to our amazing partners who conduct training and management at extraordinary scale. And, of course, thanks to the amazing healthcare workers who do incredible, under-appreciated work. Amazing!</p>
</section>
