---
title: "Simple is now a Digital Public Good"
date: "2022/01/03"
reading_time: "3"
cover_image_path: "/images/blog/simple_digital_public_goods/cover.png"
cover_image_placeholder_path: "/images/blog/simple_digital_public_goods/cover.jpg"
cover_image_alt: "Digital Public Goods Alliance"
intro: "Today we are thrilled that Simple is counted as a 'Digital Public Good' alongside many other incredible open source projects working to achieve the United Nation's sustainable development goals."
author: "Daniel Burka"
published: true
---

<section>
  <p>Today, <a href="https://simple.org">Simple</a> was added to the <a href="https://digitalpublicgoods.net/registry/">Digital Public Goods Alliance Registry</a>. The goal of the DPGA and its registry is to promote digital public goods in order to create a more equitable world. Being recognized as a DPG increases the visibility, support for, and prominence of open projects that have the potential to tackle global challenges. To become a digital public good, all projects are required to meet the <a href="https://digitalpublicgoods.net/standard/">DPG Standard</a> to ensure that projects truly encapsulate open source principles.</p>
  
  <p>Simple aims to support large-scale hypertension and diabetes control initiatives in low- and middle-income countries. It is already deployed in India, Bangladesh, Sri Lanka, and Ethiopia, where it's used by clinicians to manage over 1.4 million patients with non-communicable diseases.</p>
  
  <p>For us, being recognized as a digital public good means is important as an affirmation of our intent to offer Simple as a free, trusted tool for health systems all over the world. The DPGA's goal to support open source software, open data, open AI models, open standards and open content that adhere to privacy and other applicable laws and best practices, do no harm, and help attain the SDGs is very aligned with our goals too. Simple is developed by open source contributors from all over the world, adhering to the <a href="https://digitalprinciples.org">Principles for Digital Development</a>.</p>
  
  <p>The Digital Public Goods Alliance is a multi-stakeholder initiative endorsed by the United Nations Secretary-General, working to accelerate the attainment of the Sustainable Development Goals in low- and middle-income countries by facilitating the discovery, development, use of, and investment in digital public goods.</p>
  
  <p><img src="/images/blog/simple_digital_public_goods/dpga_group.png" alt="The DPGA is governed by an Interim Strategy Group consisting of: The Government of Sierra Leone; The Government of Norway; iSPIRT; and UNICEF." /></p>
  
</section>
