---
title: "BMJ implementer report about Simple"
date: "2023/02/27"
reading_time: "5"
cover_image_path: "/images/blog/bmj-2023/cover.jpg"
cover_image_placeholder_path: "/images/blog/bmj-2023/cover-placeholder.jpg"
cover_image_alt: "BMJ Health and Care Informatics article"
intro: "We published an implementer report in BMJ outlining the key factors to succeed with a digital system for monitoring a large-scale hypertension program."
author: "Daniel Burka"
published: true
---

<section>
  <p>This year, we published a peer-reviewed journal article in BMJ that outlines our thinking about digital systems for managing large-scale HEARTS programs. This implementer report explains how important user-centered design and hyper-efficient tools are to succeed at scale at controlling hypertension.</p>
  
  <p><b><a href="https://informatics.bmj.com/content/30/1/e100641.full">Read the article about Simple on the BMJ website...</a></b></p>
  
  <p>Note: The article is "open access" to all and can be shared however you wish. Please reach out to us if you would like to discuss how your country can leverage the learnings.</p>
  
  <p><a href="https://informatics.bmj.com/content/30/1/e100641.full"><img src="/images/blog/bmj-2023/article.jpg" style="border: 1px solid #ddd; margin: 50px" alt="Read the article on the BMJ website"></a></p>
  
  <h2 style="margin-top: 2em;">Abstract</h2>
  
  <h3>Objective</h3>
  <p>Implement a user-centred digital health information system to facilitate rapidly and substantially increasing the number of patients treated for hypertension in low/middle-income countries.</p>
  
  <h3>Methods</h3>
  <p>User-centred design of Simple, an offline-first app for mobile devices to record patient clinical visits and a web-based dashboard to monitor programme performance.</p>
  
  <h3>Results</h3>
  <p> The Simple mobile application scaled rapidly over the past 4 years to reach more than 11 400 primary care facilities in four countries with over 3 million patients enrolled. Simple achieved median duration for new patient registration of 76 s (IQR 2 s) and follow-up visit entry of 13 s (IQR 1 s).</p>
  
  <h3>Conclusions</h3>
  <p> A fast, easy-to-use digital information system for hypertension programmes that accommodates healthcare worker time constraints by minimising data entry and focusing on key performance indicators can successfully reach scale in low-resource settings.</p>
</section>
