---
title: "The impact of the Simple app on nurse efficiency"
date: "2023/05/31"
reading_time: "4"
cover_image_path: "/images/blog/time-motion/cover.png"
cover_image_placeholder_path: "/images/blog/time-motion/cover.jpg"
cover_image_alt: "We measured how fast Simple is compared to paper systems."
intro: "In a time-and-motion study conducted in India, Simple was shown to streamline hypertension care."
author: "Dr. Ashish Krishna"
published: true
---

<section>
  <p>In fall 2021, the Indian Council of Medical Research (ICMR) National Institute of Epidemiology researchers conducted a study in clinics of public health institutions in Madhya Pradesh and Punjab, India. Our goal was to learn how nurses in these clinics prioritize hypertension-related activities.</p>
    
  <p>The "Non-communicable disease" (NCD) staff in Madhya Pradesh used a paper-based approach, whereas in Punjab, they the Simple app to keep patient records. We observed six NCD staff members in their clinics for many days to collect data, carefully documenting the time they spent on each activity with the help of a stopwatch.</p>
  
  <p><a href="https://www.cdc.gov/pcd/issues/2023/22_0232.htm">Our recently published findings</a> revealed that nurses dedicated approximately 2/3 of their time to hypertension tasks. Interestingly, nurses working in clinics that employed the paper-based system spent more time on documentation and record management compared to their counterparts using the Simple app. This led us to emphasize the benefits of digital tools like the Simple app, which significantly reduced the time spent on non-clinical activities. The app streamlined data entry and report generation, providing valuable time-saving benefits for nurses. Additionally, we suggested using arm-in blood pressure monitors as an intervention to further reduce measurement time.</p>
  
  <blockquote>"Nurses working in clinics that employed the paper-based system spent more time on documentation and record management compared to their counterparts using the Simple app"</blockquote>
  
  <p>Our study also sheds light on the need for more efficient hypertension services in the future. Currently, nurses invest a substantial amount of time in hypertension activities. To improve efficiency, we proposed strategies such as appointing dedicated nurses specifically for hypertension work, involving other healthcare workers, and redistributing tasks. These approaches aim to optimize the allocation of resources and enhance the overall effectiveness of hypertension services.</p>
  
  <p><a href="https://www.cdc.gov/pcd/issues/2023/22_0232.htm">Read the article</a> published in the journal <i>Preventing Chronic Disease</i> of the US CDC.</p>
  
  <h3>Reference</h3>
  <p>Krishna A, Murali S, Moran AE, Saxena A, Gill SS, Hering D, et al. Understanding the Role of Staff Nurses in Hypertension Management in Primary Care Facilities in India: A Time-Motion Study. Prev Chronic Dis 2023;20:220232. DOI: <a href="http://dx.doi.org/10.5888/pcd20.220232">http://dx.doi.org/10.5888/pcd20.220232</a></p>
</section>
