---
title: "Simple en español"
date: "2023/04/14"
reading_time: "3"
cover_image_path: "/images/blog/spanish-simple/cover.jpg"
cover_image_placeholder_path: "/images/blog/spanish-simple/cover-placeholder.jpg"
cover_image_alt: "Simple is now available in Spanish."
intro: "Simple is now available in Spanish, thanks to open source contributions from the community."
author: "Daniel Burka"
published: true
---

<section>
  <p>Just a couple of weeks ago, we got a request from several countries in Latin America to trial Simple. Great! But, Simple isn't available in Spanish. So, we put out a call to the community and asked for help translating Simple into Spanish. The response was tremendous.</p>
  <p>Over just one week, a team of volunteers answered our call and translated the app into Spanish. The app has 1,143 strings (words or phrases) that need to be translated. Volunteers were able to log into our translation tool, <a href="https://transifex.com/">Transifex</a>, and work through the strings. We gathered in a <a href="https://slack.com">Slack</a> channel to discuss challenging translations and were able to ask some Spanish-speaking doctors for help where medical terminology was especially important.</p>
  <div class="image--contain"><a href="/images/blog/spanish-simple/transifex.png"><img src="/images/blog/spanish-simple/transifex.png" alt="A screenshot of the translations in Transifex."></a><h4 class="image-description">Transifex is a great tool, which generously gives free access for open source not-for-profit teams like ours.</h4></div>
  <h3>Muchas gracias</h3>
  <p>Thank you so much to Ana Vazquez, Claudio Vallejo, Kevin Henriquez, Nelly Mercado, and Samuel Rivero for their amazing help translating Simple into Spanish in just one week.</p>
  <h3>Simple is available in many languages</h3>
  <p>The Simple mobile app is available for healthcare workers in many local languages, including:</p>
  <ul>
    <li>Afan Oromo</li>
    <li>Amharic</li>
    <li>English</li>
    <li>Bengali (Bangladesh)</li>
    <li>Bengali (India)</li>
    <li>Hindi</li>
    <li>Kannada</li>
    <li>Marathi</li>
    <li>Punjabi</li>
    <li>Sidama</li>
    <li>Sinhala</li>
    <li>Somali</li>
    <li>Spanish</li>
    <li>Tamil</li>
    <li>Telugu</li>
    <li>Tigrinya</li>
  </ul>
  <h3>Try it out</h3>
  <p>The Spanish version of Simple will be available on our Demo app from April 19, 2023 when our next release goes out. Download the <a href="https://play.google.com/store/apps/details?id=org.simple.clinic.staging">Demo app from the Play Store</a> and change your language in Settings.</p>
</section>
