---
title: "Simple wins e-governance award in India"
date: "2024/10/01"
reading_time: "4"
cover_image_path: "/images/blog/egovernance-award/cover.jpg"
cover_image_placeholder_path: "/images/blog/egovernance-award/cover.jpg"
cover_image_alt: "We measured how fast Simple is compared to paper systems."
intro: "Simple was recognized with a Gold Award at the at the 27th National Conference on e-Governance."
author: "Daniel Burka"
published: true
---
<section>
  <p>One month ago, Simple was recognized with a "Gold Award" at the <a href="https://nceg.gov.in/">27th National Conference on e-Governance</a> held in Mumbai.</p>
</section>
<section>
  <p>An update from <a href="https://www.linkedin.com/in/prabhdeep-kaur-39463673?miniProfileUrn=urn%3Ali%3Afsd_profile%3AACoAAA-T1aAB5mUTxtQvqmt3Lhyy4GqqedIGO80&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_recent_activity_content_view%3BUmVKoOSETaWqBTY18uXX1w%3D%3D">Dr Prabhdeep Kaur</a>:</p>
  <blockquote>
    <em>Our team India National Institute of Epidemiology (ICMR-NIE) won the "Gold award" under the category "Research on Citizen-centric Services by Academic/Research Institutions" for the project "India Hypertension Control Initiative" at the 27th National Conference on e-Governance organised by the Department of Administrative Reforms and Public Grievances, Government of India at Mumbai on 3rd Sept 2024.</em>
  </blockquote>
  <blockquote>
    <em>Immense efforts by many people, especially Ganeshkumar Parasuraman, Roopa Shivashankar, Meenakshi Sharma, Abhishek Kunwar, Anupam Khungar Pathni, Swagata Kumar Sahoo, and our partners from state governments, the Ministry of Health, World Health Organization, and Resolve To Save Lives to design and scale hypertension interventions in primary care including digital solutions to more than 140+ districts in India. The best practices were integrated in the National Program for non-communicable diseases.</em>
  </blockquote>
</section>

<section>
  <p><a href="/images/blog/egovernance-award/ceremony.jpg"><img src="/images/blog/egovernance-award/ceremony.jpg"></a></p>
</section>

<section>
  <p>A wonderful recognition for a large effort from many people to make Simple a success for managing large-scale hypertension and diabetes programs. Congratulations to everyone involved.</p>
</section>
