---
title: "Guide: Fast & simple user testing for healthcare"
date: "2024/03/18"
reading_time: "7"
cover_image_path: "/images/blog/user-testing-guide/user-testing-guide.jpg" 
cover_image_placeholder_path: "/images/blog/user-testing-guide/user-testing-guide-placeholder.jpg"
cover_image_alt: "Guide: Fast & simple user testing for healthcare"
intro: "A practical guide for user testing your software, so healthcare workers will love it. The guide is based on 6 years of experience user testing Simple, DHIS2, OpenSRP, and other digital health tools."
author: "Tony Joy"
published: false
---

<section>
    <p><b>Easy to use health software is more likely to be used by health workers and will get you better data for driving program improvements.</b> This practical guide teaches you to conduct user tests to collect unbiased feedback from users and make easy-to-use health software.</p>
</section>

<section>
    <h2>Who this guide is for</h2>
    <p>This user testing guide was made for anyone involved in making or implementing digital health software, not just designers or user researchers.</p>
</section>

<section>
    <h2>Why conduct user tests?</h2>
    <ul>
        <li>
            <p><b>Software that’s easier to train</b>. Our team has reduced training time on Hypertension management software from 1 day to under 2 hours.</p>
        </li>
        <li>
            <p><b>Easy for staff to transfer knowledge</b>. Healthcare worker turnover is high in hospitals and clinics. If the software is easy to use, existing staff can train new staff on-the-job without formal training sessions.</p>
        </li>
        <li>
            <p><b>Gather accurate data</b>. Difficult-to-use software is irregularly used or worse— inaccurate data is entered into it.</p>
        </li>
        <li>
            <p><b>Reduce stress for busy hospital staff</b>. Complicated software adds to the stress of overburdened health staff.</p>
        </li>
        <li>
            <p>More on the benefits of simple user-centvered software in this <a href="https://resolvetosavelives.org/cardiovascular-health/hypertension/digital-tool-playbook/">playbook</a> published by our team.</p>
        </li>
    </ul>
</section>

<section>
    <h2>Guide</h2>
    <iframe style="aspect-ratio: 16 / 9; width: 100%;" src="https://www.youtube-nocookie.com/embed/s0QYzP6Xr6w?si=sXfs7FUFSTaQumsm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    <em style="margin: auto;" >45 min <a href="https://www.youtube.com/watch?v=s0QYzP6Xr6w">video guide</a>. Get the <a href="https://docs.google.com/presentation/d/14lP86eTFePyLudzoIhRDUzBV2wNAxTaSDE05ZUWQ8p4/edit?usp=sharing">slide deck</a></em>
</section>

<section>
    <h2>Useful templates and examples</h2>
    <p>These are templates that we use for conducting user tests and now you can use them too. Please modify the templates for your own needs.</p>
    <h3>Preparing to conduct a user test</h3>
    <ul>
        <li>
            <p><a href="https://docs.google.com/document/d/1nIXkPQWol7Bi03m6slaRtZAngU568CLGFbvlPlFGyZg/edit?usp=sharing">To-do list</a> (Template)</p>
        </li>
        <li>
            <p>
                <a href="https://docs.google.com/document/d/1BxCJP3GV5-zGeMlWaFtKQN4HQJeC74Hlq0wOJNsPwN0/edit?pli=1">User Testing plan</a> (Template with examples)
            </p>
        </li>
    </ul>
    
    <h3>Prototyping</h3>
    <ul>
        <li>
            <p>
                <a href="https://www.figma.com/file/el6I5kDZ1A3SpDlzUIhIzY/Sample-prototypes---User-Testing-for-Healthcare?type=design&node-id=0%3A1&mode=design&t=tpdBiAZuRYVsRX0s-1">Hypertension visit prototype</a> (Example of a prototype)
            </p>
        </li>
    </ul>

    <h3>Conducting interviews with healthcare workers</h3>
    <ul>
        <li>
            <p><a href="https://docs.google.com/document/d/1PU8X8UAtGn1ZiESvdTFfMmj8eGT1nQSNZ1X9KOYRDdQ/edit?usp=sharing">Interview script</a> (Template with examples)</p>
        </li>
        <li>
            <p><a href="https://docs.google.com/document/d/1rrRewM5ge9--JTOojh80S9Ls5Q-kCGBjsbJZNtk4Qw4/edit?usp=sharing">Consent form</a> (Template)</p>
        </li>
        <li>
            <p><a href="https://docs.google.com/spreadsheets/d/1YPwT22AmLOrqBfCpRncOwjXMPFTUgS7S8oa46FAeB-g/edit#gid=982799229">Note-taking template</a> (Template with examples)</p>
        </li>
    </ul>

    <h3>Reporting your learnings</h3>
    <ul>
        <li>
            <p><a href="https://docs.google.com/document/d/1KoQyIRRgoZZzNGunHWvoxLuw8YTfO44vOzUK7SQmDVM/edit?usp=sharing">Short user test summary example</a> (Template with examples)</p>
        </li>
        <li>
            <p><a href="https://docs.google.com/document/d/10dxLwB1SF3-pQ_Bzf5nUHdxUp1IzDtnC58Ozgr2gRMw/edit?usp=sharing">Detailed user test report example</a> (Template with examples)</p>
        </li>
    </ul>
</section>

<section>
    <h3>More resources</h3>
    <p>
        <a href="https://library.gv.com/user-research-quick-and-dirty-1fcfa54c91c4">Quick and dirty user research by Michael Margolis</a> (Video and worksheet)
        <br />
        (Michael’s work at Google Ventures was a major inspiration for this user testing guide)
    </p>

    <p><a href="https://www.youtube.com/watch?v=U9ZG19XTbd4">7 minute user interview sample</a> (Video)</p> 

    <p><a href="https://www.youtube.com/watch?v=tXJqAYDbRzI">How to help users think out loud</a> (Video)</p>


</section>