---
title: "Calling overdue patients helps improve return-to-care rates."
date: "2024/01/10"
reading_time: "8"
cover_image_path: "/images/blog/revealing-data-behind-overdue-patient-calls/cover.png"
cover_image_placeholder_path: "/images/blog/revealing-data-behind-overdue-patient-calls/cover-placeholder.png"
cover_image_alt: "How do we reveal the data behind overdue patient calls in a meaningful way?"
intro: "How do we reveal the data behind overdue patient calls in a meaningful way?"
author: "Jamie Carter"
published: false
---

<section>
  <p>Hypertension is known as the “silent killer.” Patients often don’t have symptoms, so they don’t feel the urgency to visit their doctor. Even patients who know they have high blood pressure and are enrolled in a hypertension control program often lapse in care. In Bangladesh, for instance, almost &frac13; of patients enrolled in the otherwise excellent National Heart Foundation of Bangladesh hypertension control program don’t come back to care regularly.</p>
</section>

  <blockquote class="article-quote">“Almost &frac13; of patients enrolled in the otherwise excellent National Heart Foundation of Bangladesh hypertension control program don’t come back to care regularly”</blockquote>

<section>
  <p>What can be done?</p>

  <p>A healthcare worker calling patients to urge them to return to care is one of the most effective ways to encourage patients to return to care for medication refills and an up-to-date BP reading. The Simple app creates easy-to-use call lists but how can program managers encourage busy healthcare workers to call patients? Data can help.</p>
</section>

<section>
  <p>By revealing key data, Simple empowers program managers to know:</p>
  <ol>1. How many patients need to be called?</ol>
  <ol>2. Were those patients called?</ol>
  <ol>3. Were the calls successful in returning patients to care?</ol>
</section>

<section>
  <h2>How many patients are overdue?</h2>
  
  <p>Almost all patients recorded in Simple have a follow-up appointment. Patients who don’t visit by their appointment date are moved onto a call list of ‘Overdue’ patients.</p>
</section>
  <figure class="image--wide">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-tab-screens-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-tab-screens.png"
    alt="Left: Overdue patients list in Simple App. Right: Overdue patient call card with ‘result of call’ options."
    width="1600"
    height="1000"
  >
  <figcaption class="image-description" style="text-align: center;">Left: Overdue patients list in Simple App. Right: Overdue patient call card with ‘result of call’ options.</figcaption>
  </figure>
<section>
  <p>It’s challenging to calculate the number of overdue patients in a meaningful way because this number shifts over time. We made a decision to ‘snapshot’ the number of overdue patients on the first day of the month, each month. This establishes a defined timeframe to calculate the number of overdue patients and display a trend over time.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-patients-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-patients.png"
    alt="Overdue patients chart showing trend of patients overdue on the 1st of the month"
    width="880"
    height="624" 
  >
  <figcaption class="image-description" style="text-align: center;">Overdue patients chart showing trend of patients overdue on the 1st of the month</figcaption>
</figure>

<section>
    <p>The chart displays the number of overdue patients and provides program managers with a measurable target to reduce the percentage of overdue patients each month. We reveal the size of the problem.</p>
</section>

<blockquote class="article-quote">“showing the number of overdue patients provides program managers with a quantifiable target to reduce this each month”</blockquote>

<section>
  <h2>How many overdue patients were called?</h2>
  <p>Ideally, all overdue patients should be called promptly to motivate them to attend a regular blood pressure check-up. To encourage calling, we provide hospital staff with an easy-to-use overdue patient calling list in the Simple app — in the dashboard, we provide managers with a chart that displays the number of unique overdue patients called during the month.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/called-patients-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/called-patients.png"
    alt="Overdue patients called chart showing the trend of unique patients called during the month"
    width="880"
    height="624" 
  >
  <figcaption class="image-description" style="text-align: center;">Overdue patients called chart showing the trend of unique patients called during the month</figcaption>
</figure>

<section>
  <p>The chart shows how many unique overdue patients were called during the month and provides program managers with a measurable target to increase the number being called each month. We reveal if action is being taken to address the problem.</p>
  <p>Additionally, the outcome of the calls is displayed as a secondary trend using red, yellow, and green bands revealing how overdue patients are responding to calls, indicating the effectiveness of this approach.</p>
  <p>Highlighting the trends in call outcomes helps monitor the impact of training on call outcomes and, more importantly, provides program managers with a measurable target to improve the call outcomes by increasing the number of patients who agree to visit.</p>
</section>
<%# <section>   %>
  <blockquote class="article-quote">“We clearly see that hospitals are making more calls to overdue patients since these reports were made available”</blockquote>
<%# </section> %>
<section>
  <p>The call data is used in 2 more performance comparison tables.</p>
  <ul>

  <li><b>Table 1</b>: Shown to regional managers, displays the performance of districts in a region.</li>
  <li><b>Table 2</b>: Shown to facility managers displays the call activity of individual staff.</li>
  </ul>
</section>

<figure class="image--wide">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/table-district-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/table-district.png"
    alt="Breakdown of overdue patient call activity by districts in a region"
    width="992"
    height="624" 
  >
  <figcaption class="image-description" style="text-align: center;">Breakdown of overdue call activity by districts in a region</figcaption>
</figure>

<section>
  <p>The regional breakdown compares performance between districts, making it easy for regional managers to identify high-performing districts and share knowledge acquired in those districts. It also allows program managers to focus their attention on low-performing districts.</p>
</section>

<figure class="image--wide">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/table-facility-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/table-facility.png"
    alt="Breakdown of overdue patient call activity by districts in a region"
    width="992"
    height="770"
  >
  <figcaption class="image-description" style="text-align: center;">Breakdown of staff call activity at hospital</figcaption>
</figure>

<section>
  <p>The facility breakdown reveals which team members are making the calls and provides an additional feedback loop linking call outcome trends with specific staff. It encourages knowledge sharing between team members.</p>
</section>

<%# <section> %>
  <blockquote class="article-quote">“One of the countries even set up a centralized call center to help manage overdue patient calls— achieving over 32,000 calls in just 3 months!”</blockquote>
<%# </section> %>

<section>
  <h2>Are calls motivating patients to attend?</h2>
  <p>The overarching aim is to encourage patients to attend the hospital for regular visits. Does calling overdue patients result in more patients visiting a hospital?</p>
  <p>We made a similar ‘snapshot’ decision to show the number of patients who visited the hospital <b>within 15 days of receiving a call</b>. This helps inform if the calls were successful at getting patients to attend in a reasonable timeframe, and display a trend.</p>
  <p>A 15-day window provides a suitable middle-ground between the urgency of attending for a check-up and consideration of the day-to-day challenges patients face that result in delayed attendance.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/return-to-care-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/return-to-care.png"
    alt="Called overdue patients that returned to care trend"
    width="880"
    height="624"
  >
  <figcaption class="image-description" style="text-align: center;">Called overdue patients that returned to care trend showing patients who attended a clinic within 15 days of receiving a call. The dashed line indicates the figure is still changing due to the 15-day window still being open.</figcaption>
</figure>

<section>
  <p>This chart shows how many overdue patients visited the hospital within 15 days of receiving a call and provides program managers with a measurable target to improve the effectiveness of the calls. Here we reveal if the action is successfully addressing the problem.</p>
  <p>Additionally, we show the number that visited a clinic within 15 days based on their call outcome seen through the colored lines on the chart. This data provides program managers with a better understanding of patient behaviors, for example, if patients who ‘Agreed to visit’ actually attend the hospital. Again, the aim is to empower program managers to be able to ask more questions about what is happening on the ground.</p>
</section>

<%# <section> %>
  <blockquote class="article-quote">“Overdue patients who receive a call are more likely to attend a clinic within 15 days regardless of the outcome of the call.”</blockquote>
<%# </section> %>

<section>
  <h2>The bigger picture</h2>
  <p>The overdue charts are designed to act as a feedback loop for one of our main program indicators — ‘missed visits’. Patients marked as ‘missed visit’ have not visited a clinic in the last 3 months.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/missed-visit-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/missed-visit.png"
    alt="Missed visit chart showing the trend of patients with no visit in the last 3 months"
  >
  <figcaption class="image-description" style="text-align: center;">Missed visit chart showing the trend of patients with no visit in the last 3 months</figcaption>
</figure>

<section>
  <p>Reducing the number of overdue patients directly impacts the number of patients marked as ‘missed visits’. Having patients attend regularly for check-ups offers a more accurate picture of blood pressure control in hypertension programs.</p>
</section>

<%# <section> %>
  <%# <blockquote class="article-quote">“it’s clear there has been a significant decrease in the number of overdue patients since calling began with a drop from 61% to 21%”</blockquote> %>
<%# </section> %>

<section>
  <h2>Does it work?</h2>
  <p>Exploring the overdue charts for a hospital we can see how this data can be utilized by program managers. Below we can find an example hospital and read the story behind overdue patients.</p>
</section>

<figure class="image--wide">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/did-it-work-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/did-it-work.png"
    alt="Overdue dashboard for example hospital"
    width="1520"
    height="1140"
  >
  <figcaption class="image-description" style="text-align: center;">Overdue dashboard for example hospital</figcaption>
</figure>

<section>
  <h3>How many overdue patients need to be called?</h3>
  <p>From chart 1 we see that in Jul-2023, 61% of the patients were overdue with a peak of 70% in May-2023.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-patients-story-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-patients-story.png"
    alt="Overdue patients trend for example hospital"
    width="880"
    height="624"
  >
  <figcaption class="image-description" style="text-align: center;">Overdue patients trend for example hospital</figcaption>
</figure>

<section>
  <h3>How many overdue patients were called?</h3>
  <p>Moving to chart 2, we discover that in Aug-2023 this hospital began to call overdue patients. 50% of the overdue patients were called in Aug-2023 increasing to 75% in Sep-2023 and 100% in Oct-2023 — this is exceptional! Reading deeper we can see that around half of the calls resulted in ‘Agreed to visit’ (the green band).</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/called-patients-story-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/called-patients-story.png"
    alt="Called overdue patients trend for example hospital"
    width="880"
    height="624"
  >
  <figcaption class="image-description" style="text-align: center;">Called overdue patients trend for example hospital</figcaption>
</figure>

<section>
  <h3>Did the patients visit a hospital after the call?</h3>
  <p>Chart 3 illustrates a month-over-month increase in the number of patients attending the hospital after receiving a call. By October 2023, over 50% of patients attended the hospital within 15 days of receiving a call.</p>
  <p>Chart 3 data also indicates that patients marked as ‘Remove from overdue list’ are less likely to visit a hospital after receiving a call, which is expected. However, surprisingly the data reveals a significant portion of these patients, 25% in this case, still attended within 15 days.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/return-to-care-story-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/return-to-care-story.png"
    alt="Trend of overdue patients that returned to care after a call for example hospital"
    width="880"
    height="624"
  >
  <figcaption class="image-description" style="text-align: center;">Trend of overdue patients that returned to care after receiving a call for example hospital</figcaption>
</figure>

<section>
  <p>This highlights the power of calls in influencing patient behavior, demonstrating that even when a call does not have a desired outcome, the desired result can still be achieved (the patient attending a hospital).</p>
  <p>By revisiting chart 1, it is clear there has been a significant decrease in the number of overdue patients since calling began with a drop from 61% to 21% between August and October 2023.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-patients-story-recap-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/overdue-patients-story-recap.png"
    alt="Overdue patients trend recap for example hospital"
    width="880"
    height="624"
  >
  <figcaption class="image-description" style="text-align: center;">Overdue patients trend for example hospital (revisited)</figcaption>
</figure>

<section>
  <h2>The big picture</h2>
  <p>Looking back at the ‘missed visits’ indicator in Chart 4, it's clear that decreasing the number of overdue patients has a direct and positive impact on reducing the number of patients marked as ‘missed visits’. A decrease from over 60% to 20%. This is an outstanding achievement.</p>
</section>

<figure class="image--contain">
  <img
    class="lazyload"
    src="/images/blog/revealing-data-behind-overdue-patient-calls/missed-visit-story-placeholder.png"
    data-src="/images/blog/revealing-data-behind-overdue-patient-calls/missed-visit-story.png"
    alt="Missed visit chart showing the trend of patients with no visit in the last 3 months"
    width="880"
    height="624"
  >
  <figcaption class="image-description" style="text-align: center;">Missed visit trend for example hospital</figcaption>
</figure>

<section>
  <h2>Conclusion</h2>
  <p>Of course, calling overdue patients is not a silver bullet solution to patient retention. Other strategies like implementing patient-centered care, steady supply of medications, and sending SMS patient reminders are also effective parts of the toolkit for a successful non-communicable disease program. But, done right, overdue calling is a very effective tool to improve patient retention.</p>
  <p>In summary:</p>
  <ul>
    <li style="margin-bottom: 36px;">
      <span style="display: block; padding-bottom: 8px; font-weight: bold;">Revealing the number of overdue patients encourages action</span>
      We clearly see that hospitals are making more calls to overdue patients since these reports were made available. One of the countries even set up a centralized call center to help manage overdue patient calls — achieving over 32,000 calls in just 3 months.
    </li>
    <li style="margin-bottom: 36px;">
      <span style="display: block; padding-bottom: 8px; font-weight: bold;">Calling overdue patients works</span>
      Overdue patients who receive a call are more likely to attend a clinic within 15 days regardless of the outcome of the call.
    </li>
    <li style="margin-bottom: 36px;">
      <span style="display: block; padding-bottom: 8px; font-weight: bold;">Trends data is powerful</span>
      Program managers can make interventions and see measurable results, showing if the interventions reduced the number of overdue patients over time.
    </li>
    <li style="margin-bottom: 36px;">
      <span style="display: block; padding-bottom: 8px; font-weight: bold;">Performance comparison tables allow for improved knowledge-sharing</span>
      Comparing performance between hospitals and districts helps identify where overdue calling is effective and allows program managers to focus their attention on low-performers. High-performing locations can share their strategies, which improves the entire health system.
    </li>
  </ul>
</section>
<section>
  <p>If you would like to discuss how we modeled “Calling overdue patients” in our hypertension dashboard please feel free to reach out to me: jamie@simple.org</p>
</section>