---
title: "Digital Health publishes article about Simple in India"
date: "2024/07/17"
reading_time: "4"
cover_image_path: "/images/blog/digital-health/cover.png"
cover_image_placeholder_path: "/images/blog/digital-health/cover.jpg"
cover_image_alt: "We measured how fast Simple is compared to paper systems."
intro: "Simple was implemented by administering a user-centered approach and agile techniques. The authors explain how we did this."
author: "Daniel Burka"
published: true
---

<section>
  <p>We recently published an article in the Sage journal <i>Digital Health</i>, with the title: <a href="https://journals.sagepub.com/doi/full/10.1177/20552076241250153">Discovery, development, and deployment of a user-centered point-of-care digital information system to treat and track hypertension and diabetes patients under India Hypertension Control Initiative 2019–2022, India</a>.</p>
  <p>Read the article to learn more about the user-centered methods that we employed to make Simple a success at scale.</p>
  <h3>Methods</h3>
  <p>We have adopted an agile and user-centered approach in each phase in selected states of India since 2017. A multidisciplinary team adopted a hybrid approach with quantitative and qualitative methods, such as contextual inquiries, usability testing, and semi-structured interviews with healthcare workers, to document and monitor utility and usability.</p>
  <h3>Results</h3>
  <p>During the discovery phase, we adopted a storyboard technique to understand the requirement of a digital information system. The participatory approach in discovery phase co-designed the information system with the nurses and doctors at Punjab state of India. Simple, which is the developed information system, has a front-end Android mobile application for healthcare workers and a backend dashboard for program managers. As of October 2022, over 24,31,962 patients of hypertension and 8,99,829 diabetes were registered in the information system of 10,017 health facilities. The median duration of registering a new patient was 50 seconds, and for recording a follow-up visit was 14 seconds in the app. High satisfaction was reported in 100 app users’ quarterly interviews.</p>
  <h3>Conclusion</h3>
  <p>Simple was implemented by administering a user-centered approach and agile techniques. It demonstrated high utility and usability among users, highlighting the benefits of a user-centered approach for effective digital health solutions.</p>
  
  <h3>Authors</h3>
  <ul>
  <li>Parasuraman Ganeshkumar</li>
  <li>Aarti Bhatnagar</li>
  <li>Daniel Burka</li>
  <li>Kiran Durgad</li>
  <li>Ashish Krishna</li>
  <li>Bidisha Das</li>
  <li>Mahima Chandak</li>
  <li>Meenakshi Sharma</li>
  <li>Roopa Shivasankar</li>
  <li>Anupam Khungar Pathni</li>
  <li>Abhishek Kunwar</li>
  <li>Prabhdeep Kaur</li>
  </ul>
</section>
