---
title: "A ‘systems thinking’ approach to saving lives from heart attacks and strokes"
date: "2024/12/30"
reading_time: "18"
cover_image_path: "/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/cover.jpg" 
cover_image_placeholder_path: "/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/cover.jpg"
cover_image_alt: "A 'systems thinking' approach to saving lives from heart attacks and strokes"
intro: "A technologists’ skill set of crafting scalable solutions works well on notoriously hard problems like public health. The way to make it approachable is to adopt ‘systems thinking’."
author: "Atharva Raykar"
published: true
---
<section>
  <p>I am a software engineer and I have been working on Simple and related systems to improve hypertension management
    for the last few years. This is my final week with the team. I wanted to reflect on what I consider to be the core
    essence of this challenging and unique project which has taught me so much.
  </p>
  <p>What has working on Simple as a software engineer taught me? A technologists’ skill set of crafting scalable
    solutions works well on notoriously hard problems like public health. The way to make it approachable is to adopt
    ‘systems thinking’.
  </p>
  <p>
    Systems thinking is the heart of our work for everyone who is involved in saving lives from hypertension &#8212;
    epidemiologists, public health experts, designers, or engineers.
    We get the beat of an existing public health system, expose our mental models to the real world, and make use of
    leverage points such as
    feedback loops and information flows. Saving lives from hypertension is inherently a systems problem.</p>
  <p>Systems thinking pioneer Donella Meadows frames our challenge well:</p>
  <blockquote>
    “Hunger, poverty, environmental degradation, economic instability, unemployment, chronic disease, drug addiction,
    and war, for example, persist in spite of the analytical ability and technical brilliance that have been directed
    toward eradicating them. No one deliberately creates those problems, no one wants them to persist, but they
    persist nonetheless. That is because they are intrinsically systems problems—undesirable behaviors characteristic
    of the system structures that produce them. They will yield only as we reclaim our intuition, stop casting blame,
    see the system as the source of its own problems, and find the courage and wisdom to <em>restructure</em> it.”
  </blockquote>
</section>

<section>
  <h2 id="the-story-of-dynamica">The story of a country called Dynamica</h2>
  <p>Imagine with me a country called Dynamica. Healthcare workers in Dynamica&#39;s district hospitals randomly screen
    visiting patients for hypertension. If a
    patient has a persistent high blood pressure (BP), they are enrolled in a hypertension control program and sent off
    to a doctor.
  </p>
</section>
<figure class="image--wide">
  <img src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/screening.webp"
    alt="A systems diagram showing the initial flow of patients being screened for hypertension at district hospitals">
</figure>
<section>
  <p>The doctor advises this patient to take a CCB medication like Amlodipine. The patient needs to take this drug every
    day to control their BP (every 20mm increase in systolic BP doubles their risk of death). To get medication refills,
    they
    need to come back to the hospital once every 28 days.</p>
</section>
<figure class="image--wide">
  <img
    src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/screening_and_appointment.webp"
    alt="An addition to the diagram showing the patient journey from screening to appointments and medication for hypertension control">
</figure>
<section>
  <p>This is part of a program that the Noncommunicable Diseases (NCD) Division of the Ministry of Health in Dynamica
    has
    established. It&#39;s typical of a growing, low- or middle-income country. It turns out that hypertension (i.e. high
    BP)
    <a href="https://reliefweb.int/report/world/global-report-hypertension-race-against-silent-killer">kills more people
      than anything else in the world</a>.
  </p>
  <p>To reduce deaths due to heart disease, hypertensive patients must keep their BP under control (&lt;140/90
    mmHg). This means regularly returning to care and ensuring that they take their medicines.</p>
  <p>The hope is that this program, at scale, will improve the health and well-being of many people in Dynamica.</p>
</section>
<figure class="image--wide">
  <img
    src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/health_improvement_flow.webp"
    alt="A addition to the diagram illustrating how the hypertension control program aims to improve health outcomes by making patients take medication">
</figure>
<section>
  <p>The health officials in the NCD division need to know how their program is performing.</p>
  <p>The clinicians collect data from each patient visit into paper records. The quality improvement teams in the NCD
    Division request aggregate patient data from the hospitals (like the number of patients screened in this
    program). They add the data up across districts to understand how this health program is performing.</p>
</section>
<figure class="image--wide">
  <img src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/qi_introduced.webp"
    alt="A addition to the diagram showing how quality improvement teams collect and analyze aggregate patient data from hospitals">
</figure>
<section>
  <p>They might then drive action to improve this figure—in Dynamica. For example, they might more aggressively screen
    patients opportunistically at the hospital more
    to improve the screening flow.</p>
</section>
<figure class="image--wide">
  <img
    src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/improve_screening.webp"
    alt="A addition to the diagram showing the intervention to improve screening rates through more aggressive patient sampling">
</figure>
<section>
  <p>Later that year, an independent annual survey on heart disease and BP control rates was conducted on the patient
    population served by the district hospitals. The results were grim.</p>
  <p>Despite all this hard work on the ground, the annual report showed no improvement in mortality rates and the
    population&#39;s BP control rate. In fact, it was worse than the year before! What happened?</p>
  <p>This is where a systems dynamics framing can help us.</p>
</section>

<section>
  <h2 id="the-systems-frame">The systems frame</h2>
  <p>What do I mean when I say ‘system’?</p>
  <p><em>System</em>: A set of elements or parts that is coherently organized and interconnected in a pattern or
    structure that produces a characteristic set of behaviors, often classified as its “function” or “purpose&quot;.</p>
  <p>Our system in this case, is Dynamica&#39;s hypertension control program. Note:</p>
  <ul>
    <li>A system is more than the sum of its parts. </li>
    <li>Many of the interconnections in systems operate through the flow of information. </li>
    <li>The least obvious part of the system, its function or purpose, is often the most crucial determinant of the
      system&#39;s behavior. </li>
    <li>System structure is the source of system behavior. System behavior reveals itself as a series of events over
      time.</li>
  </ul>
  <p>One way to think about systems is in terms of <em>stocks</em> and <em>flows</em>. Let&#39;s look at the patient
    screening subsystem again:</p>
</section>
<figure class="image--wide">
  <img src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/screening.webp"
    alt="The same screening diagram now reframed to highlight stocks and flows in the healthcare system">
</figure>
<section>
  <p>The fat arrow is a <strong><em>flow</em></strong>. All systems involve interconnects through which information (or
    actual people) flows. These flows play an important role in defining a system&#39;s purpose (which may or may not
    match the system&#39;s stated purpose!).</p>
  <p>Each box represents a <strong><em>stock</em></strong>. You can think of as the memory of the history of changing
    flows in this system. A <strong>stock</strong> may be a physical thing, like the number of registered patients or
    the BP control rate. It could also be an abstract qualitative resource like an individual patient&#39;s motivation
    to improve their health.</p>
  <p><strong>Stocks</strong> naturally decouple <strong>flows</strong> in a system by acting as a buffering mechanism.
    They allow the inflows and outflows to be temporarily out of balance with each other. Buffers provide resilience to
    systems. For instance, it would be impossible for hospitals to send all their paper record data at the same rate
    patients are
    visiting for appointments!</p>
  <p>Can you identify the <strong>stocks</strong> in our program model below?</p>
</section>
<figure class="image--wide">
  <img
    src="/images/blog/a-systems-thinking-approach-to-saving-lives-from-heart-attacks-and-strokes/identify_stocks_ex.webp"
    alt="A comprehensive systems diagram showing various stocks and flows in the hypertension control program, including patient motivation, data collection, and health outcomes">
</figure>
<section>
  <p>
  <details style='background-color:#eee; padding:1.5rem 2rem; border-radius:3px'>
    <summary>► Click to reveal answers...</summary>
    <ul>
      <li>Total population in a region</li>
      <li>Registered patients that need to return to care</li>
      <li>Motivation to improve health</li>
      <li>Desire for free medication</li>
      <li>Patient appointments in public facilities</li>
      <li>Patient data received by the QI team</li>
      <li>Indicators and analyses (eg: added up patient screening counts)</li>
      <li>Actual BP control rate on ground (proxy for health outcomes)</li>
    </ul>
    <p>We could choose to include other stocks in our model, like drug stocks at hospitals, clinician&#39;s energy
      levels, and more. I kept it somewhat simple for this demonstration.</p>
  </details>
  <br>
  <p>Readers might have noticed that thinner arrows represent actions or decisions that affect flow rates, called
    <em>information links</em>. The motivation to improve one&#39;s health and the desire for free medication are
    <strong>stocks</strong> that would affect the flow rate of patients going to their appointments. The more of it
    there is, the more would be the flow rate, and vice versa. This constitutes something called a <strong><em>feedback
        loop</em></strong>.
  </p>
  <p>Almost every decision point comes with a <strong>feedback loop</strong>. An important feedback loop we have in our
    system is one enabled by aggregating patient data and using it to improve screening. If the number of patients
    registered are low, this will be caught and the implementation of aggressive screening will bring this stock back
    up. A thermostat is a classic example of a system with a <strong><em>balancing feedback loop</em></strong>.</p>
  <p>Another important kind of feedback loop not represented in the system above is a <strong><em>reinforcing feedback
        loop</em></strong>. This is a loop that represents compounding or snowballing, like an interest-bearing bank
    account. I will come back to how we can use these to help us soon.</p>
  <p>Stocks, buffers, information flows, and feedback loops are all things that we can influence that will help us
    understand and improve our systems. These are some of our leverage points.</p>
</section>
<section>
  <h2 id="-re-examining-the-dynamica-program-through-the-systems-frame-"><strong>Re-examining the Dynamica program
      through the systems frame</strong></h2>
  <p>Let&#39;s step back to what went wrong with our Dynamica&#39;s health program. To recap:</p>
  <ul>
    <li>Patients were screened for hypertension and enrolled into the program if their BP was too high. </li>
    <li>They were asked to come to the hospital every 28 days. </li>
    <li>The QI teams got a hold of the patient screening data—they wanted to drive up this number, and thus screened
      more aggressively. Millions of patients were screened! </li>
    <li>No improvement to mortality rates!</li>
  </ul>
  <p>The reason for this systems surprise is that the wrong lever was pulled in the wrong direction. There was not
    enough effort to get patients to regularly return to care and take their medicines, nor was this data tracked. The
    &quot;registered patients&quot; stock was increasing, but &quot;patient appointment count&quot; stock was not. The
    motivation to improve one&#39;s health was not in enough supply to improve the flow. The hospitals had no mechanism
    to sort through their paper records and figure out which patients had missed their appointments!</p>
  <p>There were other negative feedback loops—the district hospitals were quite far from the villages from which most
    patients were screened. The patients were unsure if there were enough drugs in stock at the facility—shortages were
    not uncommon.</p>
  <p>At its core, the main issues with this system were:</p>
  <ul>
    <li>The data wasn&#39;t useful or sufficient! The QI team could only see and optimise an input metric like
      &quot;patients registered&quot;, and not outcome metrics like &quot;Percentage of patients with controlled
      BP&quot;, &quot;Percentage of patients who missed their appointments&quot; </li>
    <li>The right information was not quickly accessible to the right people—collecting paper records and adding them up
      slowed down the program team a lot. Not knowing which patients needed to come back to care also did not help the
      health care workers in the district hospital.</li>
  </ul>
  <p>What we desire is a system that controls BP at a population level and thus saves lives. But what we ended up with
    was a system that maximizes the number of patients that need to be screened!</p>
  <p>Can you think of other problems with this system?</p>
</section>

<section>
  <h2 id="-leverage-points-learnings-from-building-digital-tools-in-public-health-"><strong>Leverage points: learnings
      from building digital tools in public health</strong></h2>
  <p>I&#39;ve seen our team make many such interventions to programs around the world. The bulk of my work has been
    through the system enabled by our <a href="blog/offline-first-apps/">offline-first
      app</a>, Simple.</p>
  <p>Our interventions often map to what prominent systems thinker Donella Meadows described as &quot;Leverage
    Points.&quot; Leverage points are places to intervene in a system. I love this articulation because it gives us a
    clear way to
    see how to be an agent of change and engage with the systems around us.</p>
  <p>Here are the leverage points as stated by Meadows, in increasing order of effectiveness. The more effective the
    lever,
    the harder it usually is to pull:</p>
  <ol reversed start="12">
    <li><strong>Numbers: Constants and parameters such as subsidies, taxes, and standards</strong>.
      <p>Numbers pertain to the sizes of our flows. An example is how aggressively Dynamica is screening visiting
        patients, or how quickly patient data is aggregated. These are some of the most visible and natural leverage
        points and they are levers worth pulling. But they're also a lot less powerful than the leverage points further
        up this list. At certain critical thresholds these numbers can have a large effect. But most systems settle into
        a state where the flows naturally resist getting anywhere close to these critical thresholds.

      </p>
      <p>While a lot of our work involves improving the numbers that affect the size of our flows, I strongly believe
        that these kinds of interventions need to be supported by the other interventions further up this list.</p>
    </li>
    <li><strong>Buffers: The sizes of stabilizing stocks relative to their flows</strong>
      <p>Bigger buffers and stocks can help us stabilize systems.</p>
      <p>Improving the capacity of hospitals to allow more patient appointments and increasing the drug stock supply are
        some ways to improve our system. Because a lot of these stocks are physical entities, I have found these pretty
        tricky to change as technologists.</p>
    </li>
    <li><strong>Stock-and-Flow Structures: Physical systems and their nodes of intersection</strong>
      <p>This would amount to rearranging where our fat arrows flow, and where the stocks are placed.</p>
      <p>An effective leverage point in our work is helping with the <a
          href="https://resolvetosavelives.org/timeline/new-study-encourages-care-closer-to-home/">decentralization of
          care</a>. Our digital systems are designed to encourage transfer of patients from large district hospitals to
        smaller clinics near their area, while still maintaining the same patient record. This greatly reduces the
        burden of
        patients as well as caregivers.</p>
    </li>
    <li><strong>Delays: The lengths of time relative to the rates of system changes</strong>
      <p>A huge motivator to introduce <a href="https://www.simple.org/blog/user-centered-design-public-health/">a
          well-designed digital information system</a> in places that previously used paper records is the fact that it
        greatly reduces the delays and tightens feedback loops—the patient data is rapidly made available to the QI
        teams
        and programs can thus improve faster and more iteratively.</p>
    </li>
    <li><strong>Balancing Feedback Loops: The strength of the feedbacks relative to the impacts they are trying to
        correct</strong>
      <p>A lot of our work goes into improving and strengthening the balancing feedback loops that are present in our
        system. One of the trickiest ones to maintain is the one that brings patients back to care.</p>
      <p>In the Simple app, we make it easy for clinicians to see all patients that missed their appointments in their
        facility (<em>overdue patients</em>)—patients can be called from the line list with a single tap, which enables
        healthcare workers to get them back into care. Additionally, we also send SMS reminders for patients that are
        <em>overdue</em>. All these actions improve the patient flow to clinics—which in turn improves the quality of
        data
        we receive. This enables better data-driven decisions to improve the program.
      </p>
      <p>It&#39;s <a href="https://www.simple.org/blog/revealing-data-behind-overdue-patient-calls/">a domino effect of
          good
          outcomes</a> that result in an improved BP control rate!</p>
    </li>
    <li><strong>Reinforcing Feedback Loops: The strength of the gain of driving loops</strong></p>
      <p>It&#39;s also important to strengthen positive feedback loops.</p>
      <p>Our constant focus on making the Simple app easy to use for healthcare workers has led to a pleasantly
        surprising
        reinforcing feedback loop. It turns out that a user-friendly app reduces the burden of training because peers
        can
        explain to each other how the app works, which is strengthened by the number of people who are experienced with
        using the app in a facility!</p>
    </li>
    <li><strong>Information Flows: The structure of who does and does not have access to information</strong>
      <p>This is a leverage point that keeps on giving, and one that technologists are great at enabling. We have been
        able
        to massively improve patient outcomes by improving how information flows, and making the right data visible to
        the
        right people. It&#39;s impossible to improve something that&#39;s hard to see or access!</p>
      <ul>
        <li>Health care workers have easy access to patient records in their district and can easily see and call
          patients
          that are overdue. </li>
        <li>Health care workers can also see control rates and statistics for their own facility which helps them
          understand
          how they are collectively performing, and make local decisions. </li>
        <li>Facility managers can see drug stock levels and predict if they will be able to accept higher patient
          volumes.
        </li>
        <li>Through the Simple dashboard and our <a href="https://hearts360.org/">HEARTS360 indicators</a>, QI teams
          have
          easy access to constantly updating aggregate data of key outcome indicators (control rates, missed visits,
          etc)
          which lets them quickly understand what&#39;s working and not working in their program and make improvements.
        </li>
      </ul>
    </li>
  </ol>
  <p>It&#39;s also important to note the information that we choose to not show. Adding a lot of <a
      href="https://blog.nilenso.com/blog/2024/12/24/good-enough-data/">complex and irrelevant data</a> increases the <a
      href="https://www.simple.org/blog/user-centered-design-public-health/">burden on health care workers</a>
    collecting the patient level data and makes the dashboard less useful due to a lot of noise and complexity.</p>
</section>
<section>
  <h3 id="-the-last-five-leverage-points-"><strong>The last five leverage points</strong></h4>
    <p>These are leverage points that are often the most effective, but the hardest to pull. My examples run sparse
      here, but I expect that even a few interventions in these points would have a massive payoff.</p>
    <ol reversed start="5">
      <li><strong>Rules: incentives, punishments, constraints</strong>
        <p>Driving change cannot happen in a vacuum. In our case, this means partnering with stakeholders that can push
          the
          right incentives and understand what it takes to improve programs and, therefore improve the well being of
          their
          citizens.</p>
        <p>Rules can govern how data is captured, used, and monitored within the program, effectively deciding what can
          and
          cannot be built.</p>
        <p>Rules can enforce usage of treatment protocols that simplify patient care, like the one from WHO&#39;s <a
            href="https://www.simple.org/blog/hearts360-dashboard/">HEARTS</a> technical package—their effects flow into
          other areas, like improving drug stock management.</p>
        <p>Rules can help create SOPs enabling decentralisation of care, define roles and processes that ensure the
          smooth
          flow of stocks and reinforcement of positive feedback loops. All our technological interventions can only
          succeed
          if they are enforced at a program level.</p>
        <p>Rules can also help decide how all the actors in our systems are empowered to provide care.</p>
      </li>
      <li><strong>Self-organization: the power to add, change, or evolve system structure</strong>
        <p>Meadows describes this well;</p>
        <p>“The most stunning thing living systems and some social systems can do is to change themselves utterly by
          creating whole new structures and behaviors. In biological systems that power is called evolution. In human
          economies it’s called technical advance or social revolution. In systems lingo it’s called self-organization.”
        </p>
        <p>A massive learning for me while working as a technologist in public healthcare is that to truly make a
          lasting
          change, we have to work towards a purpose that is bigger than ourselves and beyond the organisation we&#39;re
          a
          part of.</p>
        <p>The most important change that we have worked on over the years is not the well-crafted code we have written
          over
          the years, the technical systems or even the user experience and designs. It&#39;s a lot more than
          that—it&#39;s
          compiling, publishing and sharing all our hard-earned lessons and patterns that we have learned through all
          these
          years of engaging with this vastly complex public healthcare machinery across countries and partners.</p>
        <p>It&#39;s critically important to enable other partners and governments to build and grow their versions of a
          &quot;Simple system&quot; that cater to their needs, and find a way to evolve beyond our own interventions.
        </p>
        <p>We don&#39;t want to be the system and engulf everything. We want to instead create an ecosystem that gives
          rise
          to other wonderful systems that improve lives, ones that sustain long beyond our individual and organisational
          lifetimes.</p>
      </li>
      <li><strong>Goals: the purpose of the system</strong>
        <p>What&#39;s more important than self-organisation are goals.</p>
        <p>The true goal of a system contorts every leverage point below this one, be it physical stocks and flows,
          feedback
          loops, information flows—even self-organizing behavior.</p>
        <p>If the ultimate goal of our system and everyone who has agency over it is to maximally save lives, it means
          that
          every intervention we make will be to keep that in mind.</p>
        <p>All the work done by the team at Resolve To Save Lives grew out of this goal.</p>
      </li>
      <li><strong>Paradigms: The mindset out of which the system (its goals, structure, rules, delays,
          parameters) arises</strong>
        <p>Paradigms are the shared ideas in the minds of society—the great big unstated assumptions, or deepest set of
          beliefs about how the world works. These beliefs are unstated because it is unnecessary to state them—everyone
          already knows them. Shifting paradigms cause massive changes.</p>
        <p>Here are some random examples of paradigms that underpin everything I and the team at RTSL have done:</p>
        <ul>
          <li>User-centered technology and information systems must be designed to empower healthcare workers on the
            ground.
          </li>
          <li>We must engage with public healthcare and help improve human well-being. </li>
          <li>Cardiovascular disease can be eliminated. </li>
          <li>Systemic thinking helps us make sense of hard problems.</li>
        </ul>
      </li>
    </ol>
</section>
<section>
  <h3 id="-1-the-final-leverage-point-transcending-paradigms-"><strong>The final leverage point: transcending
      paradigms﻿</strong></h4>
    <p>I can only speak for myself here, but this leverage point is one that strikes deeply to me at a personal
      level.</p>
    <ol>
      <li><strong>The existence of paradigms is itself a paradigm, and beyond that lies a void</strong>
        <blockquote>
          <p>The truth is that there&#39;s no certainty in any worldview. The world we inhabit is beyond comprehension.
            Meaning is something we arbitrarily assign to our felt sense of reality.</p>
          <p>If no paradigm is right, you can choose whatever one will help to achieve your purpose. If you have no idea
            where to get a purpose, you can listen to the universe. <br> [...]<br> It is in this space of mastery over
            paradigms that people throw off addictions, live in constant joy, bring down empires, get locked up or
            burned at
            the stake or crucified or shot, and have impacts that last for millennia.</p>
        </blockquote>
      </li>
    </ol>

    <p>I often don&#39;t know where my purpose comes from, <em>really why</em> and from <em>what place</em> I&#39;ve
      chosen to do the things that I do. But what the universe has told me is that it&#39;s important to expand my
      boundary of caring—may it someday engulf the world.</p>
    <hr>
    <p><em>Thanks to Daniel Burka and Deepa Venkatraman for reading and reviewing drafts of this.</em></p>
</section>