---
title: "Digital playbook"
date: "2024/02/22"
reading_time: "3"
cover_image_path: "/images/blog/digital-playbook/cover@2x.jpg"
cover_image_placeholder_path: "/images/blog/digital-playbook/cover-placeholder.jpg"
cover_image_alt: "A PDF playbook explaining what we have learned."
intro: "Designing an optimal digital tool for hypertension and other long-term treatment programs — Lessons learned over the last 6 years."
author: "Daniel Burka"
published: true
---

<section>
  <p>The team behind Simple has gathered our learnings from the past 6 years and we want to share them with you. This isn't a guide to making "Simple." It is a playbook with some hard won lessons for making simple digital tools that work in the real world where healthcare workers are overwhelmed with high volume patient care and under-resourced clinics.</p>
  
  <p><a href="https://resolvetosavelives.org/cardiovascular-health/hypertension/digital-tool-playbook"><b>Download the Playbook: PDF</b></a></p>
</section>
<section>
  <h3>Who this playbook is for</h3>
  <p>This playbook was created for anyone who is involved in designing, monitoring or implementing a hypertension management program.The general principles and guidelines can be generalized for any longitudinal primary health care program.</p>
  <ul>
  <li><b>Government officials and health program administrators:</b> The playbook is a guide to building an effective tool for a hypertension hypertension—or any other longitudinal primary care—program.</li>
  <li><b>Experts that design and build digital tools:</b> The playbook describes methodologies, constructs and benchmarks to follow while building a digital tool.</li>
  <li><b>Partners and donors working in primary health care:</b> The playbook provides a guide to effective digital interventions to support and implement. We strongly recommend adopting user-centered design principles for all digital tools being deployed in health facilities.</li>
  </ul>
  <p>If your digital health tool is built on DHIS2, OpenSRP, or similar platforms, or if you are thinking of building a tool on these platforms, the playbook provides guidelines on efficiently configuring your tool for a hypertension program.</p>
</section>

  <blockquote class="article-quote">"The most important metric for measuring the success of hypertension care is the number of patients with their blood pressure under control."</blockquote>

<section>
  <h3>What’s in the playbook?</h3>
  <ol>
    <li>Step-by-step guidance on how to design a user-centered digital tool that maximizes the effectiveness of an non-communicable disease (NCD) management program</li>
    <li>Strategies based on Resolve to Save Lives’ years of experience creating user-centered tools—such as the Simple app—that are fast, easy-to-use and efficient</li>
    <li>Insights for program managers and medical staff to provide better care and save more lives</li>
  </ol>
</section>

<section>
  <p><a href="https://resolvetosavelives.org/cardiovascular-health/hypertension/digital-tool-playbook"><img src="/images/blog/digital-playbook/contents.png"></a></p>
  <p>Please download the PDF of the Playbook and get in touch with us. We want to learn from you and we would be more than happy to discuss what we have learned with you: daniel@simple.org</p>
  <p><a href="https://resolvetosavelives.org/cardiovascular-health/hypertension/digital-tool-playbook"><b>Download the Playbook: PDF</b></a></p>
</section>